
<section appAddDiv [Parameter]="parameter"></section>
<section id="card29">
      
<div class="card2">
    <div class="front">
        <img src="../../assets/img/avatar2.png" alt="">
    </div>
    <div class="back">
        <div class="details">
            <h2>John Doe <br><span>Senior Designer</span></h2>
            <div class="social-icons">
                <a href=""><fa-icon class="fab" [icon]="faFacebook"></fa-icon></a>
                <a href=""><fa-icon class="fab" [icon]="faTwitter"></fa-icon></a>
                <a href=""><fa-icon class="fab" [icon]="faInstagram"></fa-icon></a>
                <a href=""><fa-icon class="fab" [icon]="faGooglePlus"></fa-icon></a>
                <a href=""><fa-icon class="fab" [icon]="faLinkedinIn"></fa-icon></a>
            </div>
        </div>
    </div>
</div>

</section>