<section appAddDiv [Parameter]="parameter"></section>
<section id="card20">


  <div class="container2">
    <div class="column">
        <div class="title">
        <fa-icon class="fas" [icon]="faPaperPlane"></fa-icon>

            <h2>Basic</h2>
        </div>
        <div class="price">
            <h4>$ <span>25</span></h4>
        </div>
        <div class="option">
            <ul>
                <li><fa-icon class="fas fa-check" [icon]="faCheck"></fa-icon> 10GB Space</li>
                <li><fa-icon class="fas fa-check" [icon]="faCheck"></fa-icon> 3 Domain Names</li>
                <li><fa-icon class="fas fa-check" [icon]="faCheck"></fa-icon> 20 Email Address</li>
                <li><fa-icon class="fas fa-times" [icon]="faTimes"></fa-icon> Live Support</li>
               
            </ul>
        </div>
        <a href=""> Order Now</a>
    </div>

    
    <div class="column">
        <div class="title">
            <fa-icon class="fas" [icon]="faPlaneDeparture"></fa-icon>
            <h2>Standard</h2>
        </div>
        <div class="price">
            <h4>$ <span>50</span></h4>
        </div>
        <div class="option">
            <ul>
                    <li><fa-icon class="fas fa-check" [icon]="faCheck"></fa-icon> 50GB Space</li>
                    <li><fa-icon class="fas fa-check" [icon]="faCheck"></fa-icon> 5 Domain Names</li>
                    <li><fa-icon class="fas fa-check" [icon]="faCheck"></fa-icon> Unlimited Address</li>
                    <li><fa-icon class="fas fa-times" [icon]="faTimes"></fa-icon> Live Support</li>
 
            </ul>
        </div>
        <a href=""> Order Now</a>
    </div>

    
    <div class="column">
        <div class="title">
            <fa-icon class="fas" [icon]="faRocket"></fa-icon>
            <h2>Premium</h2>
        </div>
        <div class="price">
            <h4>$ <span>100</span></h4>
        </div>
        <div class="option">
            <ul>
                    <li><fa-icon class="fas fa-check" [icon]="faCheck"></fa-icon> Unlimited Space</li>
                    <li><fa-icon class="fas fa-check" [icon]="faCheck"></fa-icon> 50 Domain Names</li>
                    <li><fa-icon class="fas fa-check" [icon]="faCheck"></fa-icon> Unlimited Address</li>
                    <li><fa-icon class="fas fa-check" [icon]="faCheck"></fa-icon> Live Support</li>
                
            </ul>
        </div>
        <a href=""> Order Now</a>
    </div>
</div>
<div class="" style="clear: both;"></div>
</section>