
<section appAddDiv [Parameter]="parameter"></section>
<section id="card31">

    <section id=cardDetail>
        <div class="container2">
            <div class="row2">
                <div class="column">
                    <div class="box">
                        <div class="title">
                           <fa-icon class="fas" [icon]="faPaperPlane"></fa-icon>
                            <h2>Basic</h2>
                        </div>
                        <div class="price">
                            <h4><sup>$</sup>25</h4>
                        </div>
                 
                    <div class="option">
                        <ul>
                            
                            <li><fa-icon [icon]="faCheck"></fa-icon> 10 Gb Space</li>
                            <li><fa-icon [icon]="faCheck"></fa-icon> 3 Domain Names</li>
                            <li><fa-icon [icon]="faCheck"></fa-icon> 20 Email Address</li>
                            <li><fa-icon [icon]="faTimes"></fa-icon> Live Support</li>
                        </ul>
                    </div>
                    <a href="" class="btn2">Order Now</a>
                </div>

            </div>
                <div class="column">
                    <div class="box">
                        <div class="title">
                            <fa-icon class="fas" [icon]="faPlaneDeparture"></fa-icon>
                            <h2>Standard</h2>
                        </div>
                        <div class="price">
                            <h4><sup>$</sup>50</h4>
                        </div>
                  
                    <div class="option">
                        <ul>
                            <li><fa-icon [icon]="faCheck"></fa-icon> 50 Gb Space</li>
                            <li><fa-icon [icon]="faCheck"></fa-icon> 5 Domain Names</li>
                            <li><fa-icon [icon]="faCheck"></fa-icon> Unlimetted Email Address</li>
                            <li><fa-icon [icon]="faCheck"></fa-icon> Live Support</li>
                        </ul>
                    </div>
                    <a href="" class="btn2">Order Now</a>
                </div>
            </div>

                <div class="column">
                    <div class="box">
                        <div class="title">
                            <fa-icon class="fas" [icon]="faRocket"></fa-icon>
                            <h2>Premium</h2>
                        </div>
                        <div class="price">
                            <h4><sup>$</sup>100</h4>
                        </div>
               
                    <div class="option">
                        <ul>
                            <li><fa-icon [icon]="faCheck"></fa-icon> Unlimetted Space</li>
                            <li><fa-icon [icon]="faCheck"></fa-icon> 30 Domain Names</li>
                            <li><fa-icon [icon]="faCheck"></fa-icon> Unlimetted Email Address</li>
                            <li><fa-icon [icon]="faCheck"></fa-icon> Live Support</li>
                        </ul>
                    </div>
                    <a href="" class="btn2">Order Now</a>
                </div> 
            </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </section>

</section>