
<section appAddDiv [Parameter]="parameter"></section>
<section id="card10">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card text-center">
                        <div class="title">
                            <fa-icon class="far" [icon]="faPaperPlane"></fa-icon>
                            <h2>Basic</h2>
                        </div>
                        <div class="price">
                            <h4> <sup>$</sup>25</h4>
                        </div>
                        <div class="option">
                            <ul>
                                    <li><fa-icon class="fas" [icon]="faCheck"></fa-icon> 10 GB Space</li>
                                    <li><fa-icon class="fas" [icon]="faCheck"></fa-icon> 3 Domail Names</li>
                                    <li><fa-icon class="fas" [icon]="faCheck"></fa-icon> 20 Email Address</li>
                                    <li><fa-icon class="fas" [icon]="faTimes"></fa-icon> Live Support</li>
                                
                            </ul>
                        </div>
                        <a href="#">Order Now</a>
                    </div>
                </div>

                <div class="col-md-4">
                        <div class="card text-center">
                            <div class="title">
                                <fa-icon class="far" [icon]="faPlaneDeparture"></fa-icon>
                                <h2>Standart</h2>
                            </div>
                            <div class="price">
                                <h4> <sup>$</sup>50</h4>
                            </div>
                            <div class="option">
                                <ul>
                                
                                    <li><fa-icon class="fas" [icon]="faCheck"></fa-icon> 50 GB Space</li>
                                    <li><fa-icon class="fas" [icon]="faCheck"></fa-icon> 5 Domail Names</li>
                                    <li><fa-icon class="fas" [icon]="faCheck"></fa-icon> Unlimited Email Address</li>
                                    <li><fa-icon class="fas" [icon]="faCheck"></fa-icon> Live Support</li>
                                    
                                </ul>
                            </div>
                            <a href="#">Order Now</a>
                        </div>
                    </div>

                    <div class="col-md-4">
                            <div class="card text-center">
                                <div class="title">
                                    <fa-icon class="far" [icon]="faRocket"></fa-icon>
                                    <h2>Premium</h2>
                                </div>
                                <div class="price">
                                    <h4> <sup>$</sup>100</h4>
                                </div>
                                <div class="option">
                                    <ul>
                                            <li><fa-icon class="fas" [icon]="faCheck"></fa-icon> Unlimited GB Space</li>
                                            <li><fa-icon class="fas" [icon]="faCheck"></fa-icon> 30 Domail Names</li>
                                            <li><fa-icon class="fas" [icon]="faCheck"></fa-icon> Unlimited Email Address</li>
                                            <li><fa-icon class="fas" [icon]="faCheck"></fa-icon> Live Support</li>
                                      
                                        </ul>
                                </div>
                                <a href="#">Order Now</a>
                            </div>
                        </div>
            </div>
        </div>
    </div>
 
</section>
