<section appAddDiv [Parameter]="parameter"></section>

<section id="card54">
    
    <div class="box2">
        <div class="glass"></div>
            <div class="content">
                <h2>Glowing Border</h2>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum qui deserunt aliquam et corporis voluptatum quo quisquam maxime aut minus? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum qui deserunt aliquam et corporis voluptatum quo quisquam maxime aut minus?
                </p>
            </div>
        
    </div>


    <div class="box2">
       <div class="glass"></div>
           <div class="content">
               <h2>Glowing Border</h2>
               <p>
                   Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum qui deserunt aliquam et corporis voluptatum quo quisquam maxime aut minus? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum qui deserunt aliquam et corporis voluptatum quo quisquam maxime aut minus?
               </p>
           </div>
       
   </div>


   <div class="box2">
       <div class="glass"> </div>
           <div class="content">
               <h2>Glowing Border</h2>
               <p>
                   Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum qui deserunt aliquam et corporis voluptatum quo quisquam maxime aut minus? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum qui deserunt aliquam et corporis voluptatum quo quisquam maxime aut minus?
               </p>
           </div>
      
   </div>
</section>