
<section appAddDiv [Parameter]="parameter"></section>
<section>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="card">
                        <div class="post-image">
                            <img src="../../assets/img/fenerbahce.png" class="img-responsive" alt="">
                        </div>
                        <div class="news-content">
                            <span class="category">Sports</span>
                            <div class="post-meta">
                                <span class="author">
                                    <a href="">
                                            <fa-icon [icon]="faUser"></fa-icon> Someone Famous
                                    </a>
                                </span>

                                <span class="time">
                                        <a href="">
                                                <fa-icon [icon]="faClock"></fa-icon> Dec 7, 2019
                                        </a>
                                    </span>

                                    
                                <span class="comments pull-right">
                                        <a href="">
                                                <fa-icon [icon]="faCommentDots"></fa-icon> 24
                                        </a>
                                    </span>
                                    <div class="clearfix"></div>

                            </div>
                            <h2 class="post-header">2019 Fifa World Cup Official Theme Song Released</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, itaque. Tempora tempore ipsum nisi magnam! Officiis saepe molestiae enim accusantium.</p>
                        </div>
                    </div>
                </div>


                <div class="col-sm-4">
                        <div class="card">
                            <div class="post-image">
                                <img src="../../assets/img/galatasaray.png" class="img-responsive" alt="">
                            </div>
                            <div class="news-content">
                                <span class="category">Sports</span>
                                <div class="post-meta">
                                    <span class="author">
                                        <a href="">
                                            <fa-icon [icon]="faUser"></fa-icon> Someone Famous
                                        </a>
                                    </span>

                                    <span class="time">
                                            <a href="">
                                                <fa-icon [icon]="faClock"></fa-icon> Dec 7, 2019
                                            </a>
                                        </span>

                                        
                                    <span class="comments pull-right">
                                            <a href="">
                                                <fa-icon [icon]="faCommentDots"></fa-icon> 24
                                            </a>
                                        </span>
                                        <div class="clearfix"></div>

                                </div>
                                <h2 class="post-header">2019 Fifa World Cup Official Theme Song Released</h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, itaque. Tempora tempore ipsum nisi magnam! Officiis saepe molestiae enim accusantium.</p>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-4">
                            <div class="card">
                                <div class="post-image">
                                    <img src="../../assets/img/fenerbahce.png" class="img-responsive" alt="">
                                </div>
                                <div class="news-content">
                                    <span class="category">Sports</span>
                                    <div class="post-meta">
                                        <span class="author">
                                            <a href="">
                                                <fa-icon [icon]="faUser"></fa-icon> Someone Famous
                                            </a>
                                        </span>
    
                                        <span class="time">
                                                <a href="">
                                                    <fa-icon [icon]="faClock"></fa-icon> Dec 7, 2019
                                                </a>
                                            </span>
    
                                            
                                        <span class="comments pull-right">
                                                <a href="">
                                                    <fa-icon [icon]="faCommentDots"></fa-icon> 24
                                                </a>
                                            </span>
                                            <div class="clearfix"></div>
    
                                    </div>
                                    <h2 class="post-header">2019 Fifa World Cup Official Theme Song Released</h2>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, itaque. Tempora tempore ipsum nisi magnam! Officiis saepe molestiae enim accusantium.</p>
                                </div>
                            </div>
                        </div>
            </div>
        </div>
    </div>
</section>

