body{
    margin: 0;
    padding: 0;
    font-family: sans-serif !important;
}

section
{
    padding: 180px 0 0;
}

.card{
    position: relative;
    height: 400px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

.card .post-image{
    height: 300px;
    overflow: hidden;
}



.card .post-image img{

    transition: .5s;
}

.card:hover .post-image img{

   transform: scale(1.2) translateY(-50px);
}

.card .news-content{
    position: absolute;
    bottom: -125px;
    padding: 20px;
    background: #fff;
    transition: .5s;
}

.card:hover .news-content{

    bottom: 0px;
}
.card .category{
    position: absolute;
    top: -30px;
    height: 30px;
    left: 0;
    
    background: #00B8F4;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding: 5px 20px;
    font-size: 16px;
    font-weight: bold;
    transition: .5s;
}

.card .news-content .post-meta a
{
    text-decoration: none;
    padding-right: 10px;
    color: #263636;
    font-weight: bold;
    transition: .5s;
}

.card .news-content .post-meta a:hover
{
    color: #DF084A;

}

.card .news-content .post-header
{
    margin: 0;
    padding: 10px 0;
    color: #007DA6;
    height: 75px;
    font-size: 28px;
    overflow: hidden;
}

.card .news-content p
{
    font-size: 16px;
    margin:  10px 0 0;
    padding: 0;
    color: #262626;
    transition: .5s;
    opacity: 0;
}

.card:hover .news-content p
{
    opacity: 1;
}

.card .post-image img{
    width: 100%;
    height: 100%;
}