<section appAddDiv [Parameter]="parameter"></section>

<section id="card65">

    <div class="card2">
        <div appChangeImg class="top-section">
            <img  src="https://images.pexels.com/photos/147641/pexels-photo-147641.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="" id="image-container">
            <div class="nav2">

                <img  src="https://images.pexels.com/photos/147641/pexels-photo-147641.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
                <img  src="https://images.pexels.com/photos/346700/pexels-photo-346700.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
                <img  src="https://images.pexels.com/photos/386410/pexels-photo-386410.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">

            </div>

            <div class="price">$80</div>

        </div>

        <div class="product-info">
            <div class="name">Sunglasses</div>
            <div class="dis">Awesome Men Sunglasses</div>
            <a class="addBtn" href="">Add to Card</a>
        </div>
    </div>
    
</section>