<section appAddDiv [Parameter]="parameter"></section>
<section id="card12">

    
<div class="testimonials2">
    <div class="card2">
        <div class="layer">
            
        </div>
        <div class="content">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique totam vero, labore ducimus nulla unde eligendi culpa, magnam quo amet corrupti a! Dignissimos, ut esse.</p>
            <div class="image">
                <img src="../../assets/img/luke.jpg" alt="">
            </div>
            <div class="details">
                <h2>Someone Famous <br><span>Website Designer</span></h2>
            </div>
        </div>

    </div>


    <div class="card2">
            <div class="layer">
                
            </div>
            <div class="content">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique totam vero, labore ducimus nulla unde eligendi culpa, magnam quo amet corrupti a! Dignissimos, ut esse.</p>
                <div class="image">
                    <img src="../../assets/img/luke.jpg" alt="">
                </div>
                <div class="details">
                    <h2>Someone Famous <br><span>Website Designer</span></h2>
                </div>
            </div>
    
        </div>


        <div class="card2">
                <div class="layer">
                    
                </div>
                <div class="content">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique totam vero, labore ducimus nulla unde eligendi culpa, magnam quo amet corrupti a! Dignissimos, ut esse.</p>
                    <div class="image">
                        <img src="../../assets/img/luke.jpg" alt="">
                    </div>
                    <div class="details">
                        <h2>Someone Famous <br><span>Website Designer</span></h2>
                    </div>
                </div>
        
            </div>
</div>
</section>