<section appAddDiv [Parameter]="parameter"></section>
<section id="card46">
    
    <div class="container2">
        <div class="cards">
            <div class="imgBox">
                <div>

             
                <img src="../../../assets/img/sketch.png " alt="">
                <h2>Design</h2>

            </div>
            </div>
            <div class="overlay">

            </div>
            <div class="content">
                <h2>Design</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla modi similique vero vel maiores velit omnis assumenda quibusdam nobis suscipit!
                </p>
            </div>
        </div>


        <div class="cards">
            <div class="imgBox">
                <div>

             
                <img src="../../../assets/img/data.png" alt="">
                <h2>Code</h2>

            </div>
            </div>
            <div class="overlay">
                
            </div>
            <div class="content">
                <h2>Code</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla modi similique vero vel maiores velit omnis assumenda quibusdam nobis suscipit!
                </p>
            </div>
        </div>


        <div class="cards">
            <div class="imgBox">
                <div>

                
                <img src="../../../assets/img/startup.png" alt="">
                <h2>Launch</h2>

            </div>
            </div>
            <div class="overlay">

            </div>
            <div class="content">
                <h2>Launch</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla modi similique vero vel maiores velit omnis assumenda quibusdam nobis suscipit!
                </p>
            </div>
        </div>


    </div>
</section>