
body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.box{
    position: relative;
    width: 400px;
    height: 400px;
    background: #000;

}
.content
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    align-items: center;
    color: #fff;
    padding: 20px;
    font-family: consolas;
    text-align: center;
}

.content a{
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    border: 1px solid #fff;
    text-decoration: none;
    color: #fff;
    transition: .5s;
}
.content a:hover{
    background: #fff;
    color: #000;
}

.box img{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transition: 1s;
}

.box:hover img{
    clip-path: polygon(0 0, 100% 0, 0 0, 0% 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 0 0, 0% 100%);
}