
<section appAddDiv [Parameter]="parameter"></section>
<section  id="card16">

      
<div class="card2">
        <div class="image">
            <img src="../../assets/img/avatar3.jpg" alt="">
        </div>
        <div class="details">
            <div class="center">
                <h1>Someone Famous <br><span>Team Leader</span></h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia, magni?</p>
                <ul>
                    <li><a href=""><fa-icon class="fab" [icon]="faFacebook"></fa-icon></a></li>
                    <li><a href=""><fa-icon class="fab" [icon]="faTwitter"></fa-icon></a></li>
                    <li><a href=""><fa-icon class="fab" [icon]="faGooglePlus"></fa-icon></a></li>
                    <li><a href=""><fa-icon class="fab" [icon]="faLinkedinIn"></fa-icon></a></li>
                </ul>
            </div>
        </div>
        </div>
        
</section>