
#card36{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#cardSplit{
    position: relative;
    height: 70vh;
    display: flex;
}

#cardSplit .screen
{
    position: relative;
    flex-grow: 1;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#cardSplit .screen:hover
{
    /*flex-grow sayesinde yana doğru ekran kayıyor effecti veriyoruz*/
    flex-grow: 5;
}
#cardSplit .screen:nth-child(1)
{
    background: #fff;
}
#cardSplit .screen:nth-child(2)
{
    background: #ff0;
}
#cardSplit .screen .card2
{
   max-width: 300px;
   text-align: center;
   transition: .5s;
}

#cardSplit .screen .card2 .imgBox
{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}
#cardSplit .screen .card2 .imgBox img
{
    max-width: 100%;
}
#cardSplit .screen .card2 a
{
    padding: 10px 20px;
    background: #262626;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}


.content
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 100px;
    background: #fff;
    transition: .5s;
    opacity: 0;
    visibility: hidden;
}
/*sanki butona tıklanınca görüntüleniyoruş gibi işlem burada*/
#cardSplit .screen .card2 a:hover ~ .content, .content:hover
{

    opacity: 1;
    visibility: visible;
}

#cardSplit .screen:nth-child(2) .content
{
    background: #ff0;
}