<section appAddDiv [Parameter]="parameter"></section>
<section id="card36">
    <section id="cardSplit" class="split">
        <div class="screen">
            <div class="card2">
                <div class="imgBox">
                    <img src="../../assets/img/dan.jpg" alt="">
                </div>
                <h2>Someone Famous</h2>
                <a href="">Read More</a>
                <div class="content">
                    <div class="imgBox">
                        <img src="../../assets/img/dan.jpg" alt="">
                    </div>
                    <h2>Someone Famous</h2>
                    <p>Lorem ipsum dolor sit amet consectetur Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni facilis modi in fugit perferendis eius neque laboriosam hic. Reiciendis explicabo magni mollitia temporibus tenetur est laudantium fugit? Iure, sapiente velit! adipisicing elit. Consequuntur similique officia quam tempora? Voluptatem possimus aut repudiandae at. Ducimus eos corrupti amet perspiciatis culpa obcaecati animi non distinctio, magnam ipsa quas reiciendis voluptatum asperiores praesentium sit quo excepturi quam, facere inventore ex, nemo aperiam quibusdam aspernatur quae. Beatae, sapiente esse.</p>
                    
                </div>
            </div>
        </div>


        <div class="screen">
            <div class="card2">
                <div class="imgBox">
                    <img src="../../assets/img/emme.jpg" alt="">
                </div>
                <h2>Someone Famous</h2>
                
                <a href="">Read More</a>
                <div class="content">
                    <div class="imgBox">
                        <img src="../../assets/img/emme.jpg" alt="">
                    </div>
                    <h2>Someone Famous</h2>
                    <p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa ullam repellat, accusantium tempora soluta sunt impedit doloremque nisi eum quo iure earum corrupti officiis exercitationem autem! Quaerat rerum nulla eum?consectetur adipisicing elit. Consequuntur similique officia quam tempora? Voluptatem possimus aut repudiandae at. Ducimus eos corrupti amet perspiciatis culpa obcaecati animi non distinctio, magnam ipsa quas reiciendis voluptatum asperiores praesentium sit quo excepturi quam, facere inventore ex, nemo aperiam quibusdam aspernatur quae. Beatae, sapiente esse.</p>

                </div>
            </div>
        </div>
    </section>

</section>