

#card48{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    background:linear-gradient(0deg, #0b74cb 0%, #0b74cb 50%, #fff 50%, #fff 100%);
}

.container2
{
    max-width: 1000px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transform-style: preserve-3d;
}
.container2 .card2
{
    position: relative;
    width: 180px;
    height: 240px;
    background: #fff;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0 5px  15px rgba(0,0,0,.1);
    transition: .5s;
    overflow: hidden;
    transform-style: preserve-3d;
}
.container2:hover .card2
{
    transform: perspective(500px)  rotateY(30deg);
}

.container2 .card2:hover
{
    transform: perspective(500px)  rotateY(0deg);
}

.container2 .card2:hover ~ .card2
{
    transform: perspective(500px)  rotateY(-30deg);
}
.container2 .card2 h2
{
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 3em;
    background: #2196f3;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    transition: box-shadow .5s;
}
.container2 .card2:hover h2
{
    background: #fff;
    color: #2196f3;
    box-shadow: 0 0 0 150px #2196f3;
}