
<section appAddDiv [Parameter]="parameter"></section>
<section id="card48">
       
<div class="container2">
    <div class="card2">
        <h2>1</h2>
    </div>

    <div class="card2">
        <h2>2</h2>
    </div>

    <div class="card2">
        <h2>3</h2>
    </div>

    <div class="card2">
        <h2>4</h2>
    </div>

    <div class="card2">
        <h2>5</h2>
    </div>
</div>

</section>