#card4{
    margin:0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
   
}
.container2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 900px;
    height: 600px;
    background: #fff;
    margin: 20px;
}
.container2 .imgBx{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background: #006dbc;
}
.container2 .imgBx:before{

    
    content: 'Nike';
    position: absolute;
    top: 30px;
    left: 20px;
    color: #000;
    opacity: 0.1;
    font-size: 8em;
    font-weight: 800;
}
.container2 .imgBx img{
    position: relative;
    width: 700px;
    transform: rotate(-30deg);
    left: -50px;
}

.container2 .details{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    padding: 40px;
}

.container2 .details h2{
    margin: 0;
    padding: 0;
    font-size: 2.5em;
    line-height: 0.8em;
    color: #444;
}

.container2 .details h2 span{
    font-size: 0.4em;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #999;

}
.container2 .details p{

    max-width: 85%;
    margin-left: 15%;
    color: #333;
    font-size: 15px;
}

.container2 .details h3{

    margin:0;
    padding: 0;
    font-size: 2.5em;
    color: #a2a2a2;
    float: left;
}
 .container2 .details button{

    background: #006dbc;
    color:#fff;
    border: none;
    box-shadow: none;
    outline: none;
    padding: 15px 20px;
    margin-top: 5px;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 40px;
    float: right;
    cursor: pointer;
 }

 @media (max-width:1080px)
 {

    .container2{
        height: auto;
    }

    .container2 .imgBx{
        padding: 40px;
        box-sizing: border-box;
        width: 100% !important;
        text-align: center;
        overflow: hidden;
    }

    .container2 .imgBx img{

        left: initial;
        max-width: 100%;
        transform: rotate(0deg);

    }

    .details{
        width: 100% !important;
        height: auto;
        padding: 20px;
    }

  .container2  .details p{
        max-width: 100%;
        margin-left: 0;
        color: #333;
        font-size: 15px;
    }
 }