
<section appAddDiv [Parameter]="parameter"></section>

<section id="card4">


    <div class="container2">
            <div class="imgBx">
                <img src="../../assets/img/nike.png" alt="">
            </div>
            <div class="details">
                <div class="content">
                    <h2>Nike Air Max 270 <br> <span>Running Collection</span></h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque velit harum natus deleniti, reiciendis, eligendi aspernatur nemo cumque est quidem soluta et cupiditate unde neque voluptate. Natus rerum consectetur dolor. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero exercitationem laborum optio. Porro, voluptatem. Eum facere, esse excepturi debitis quod totam aut omnis nam error. Quibusdam reprehenderit praesentium rem corrupti?Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim asperiores quidem id quos quisquam eligendi iusto culpa voluptas voluptate reiciendis totam sunt ea provident accusamus dicta, architecto laudantium maxime vitae?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo earum sint aperiam eos, quia non expedita quis cumque nemo, mollitia a est dignissimos obcaecati, dolor natus laboriosam nobis repellat ut?</p>
                    <h3>$150.99</h3>
                    <button>Buy Now</button>
                </div>
            </div>
        </div>
    </section>