
#card61{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    position: relative;
}

.card2
{
    
    width: 280px;
    padding: 20px;
    background: #fff;
    overflow: hidden;
    text-align: center;
    position: relative;
    top: 50%;
    left: 30%;
    /* transform: translate(-50%,-50%); */
    border-radius: 4px;
    box-shadow: 1px 1px 12px black;
}
.image
{
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    margin: 28px auto;
}

.image img
{
    width: 100%;
    height: 100%;
}

h1{
    color: #e74c3c;
    margin: 20px 0 0 0;
    font-size: 22px;
    text-transform: uppercase;
}
span
{
    font-weight: 700;
}

.media a
{
    width: 40px;
    font-size: 30px;
    display: inline-block;
    margin: 0 auto;
    transition: .5s;
}
.fb{
    color:#4862a3;
}
.fb:hover
{
    background: #4862a3;
    color: #fff;
    border-radius: 4px;
}

.tw{
    color:#00aff0;
}
.tw:hover
{
    background: #00aff0;
    color: #fff;
    border-radius: 4px;
}
.ws{
    color:#01924b;
}
.ws:hover
{
    background: #01924b;
    color: #fff;
    border-radius: 4px;
}