<section appAddDiv [Parameter]="parameter"></section>

<section id="card61">

    <div class="card2">
        <div class="image">
            <img src="../../../assets/img/fenerbahce.png" alt="">
        </div>
        <h1>Jhon Doe</h1>
        <span>Web Developer - Web Designer</span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, temporibus?</p>
        <div class="media">

            <a href=""><fa-icon class="fb" [icon]="faFacebook"></fa-icon></a>
            <a href=""><fa-icon class="tw" [icon]="faTwitter"></fa-icon></a>
            <a href=""><fa-icon class="ws" [icon]="faWhatsapp"></fa-icon></a>
            
        </div>
    </div>
   

</section>