
body{
    margin: 0;
    padding: 0;;
    background: #262626 !important;
    font-family: verdana !important;
}

.center{

    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.container2{
    position: relative;
    width: 240px;
    /* height: 300px; */
    height: 240px;
    background: #fff;
    overflow: hidden;
}

.container2::before{

    content: '';
    position: absolute;
    top: 0;
    left: 170%;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.2);
    z-index: 1;
    transform: skew(45deg);
    transition: .8s;
}
.container2:hover::before{

    transition-delay: 1.1s;
    left: -170%;
}
.container2 img{
    width: 100%;
    filter: grayscale(100%);
    transition: 2s;
}

.container2:hover img{

    filter: grayscale(0%);
    transform: scale(1.2);
}

.container2 h2{

    position: absolute;
    bottom: 0;
    margin: 0;
    font-size: 18px;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    background: #fff;
    color: #262626;
    transform-origin: bottom;
    transition: .5s;
    transform: perspective(500px) rotateX(90deg);
}

.container2:hover h2{

    transform: perspective(500px) rotateX(0deg);

}
.container2 ul{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;

}

.container2 ul li{
    list-style: none;
    background: #fff;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    transform-origin: left;
    transition: .5s;
    border-bottom: 1px solid rgba(0,0,0,.1);
    transform: perspective(1000px) rotateY(90deg);
}
.container2 ul li .fab{

    color: #262626;
}
.container2:hover ul li{
    transform: perspective(1000px) rotateY(0deg);

}
.container2:hover ul li:nth-child(1){
   
    transition-delay: .5s;

}
.container2:hover ul li:nth-child(2){
   
    transition-delay: .8s;

}
.container2:hover ul li:nth-child(3){
   
    transition-delay: 1.1s;

}
