<section appAddDiv [Parameter]="parameter"></section>

<section id="card56">
    <div class="card2">
        <div class="card-image"></div>
            <div class="card-text">
                <span class="date">4 days ago</span>
                <h2>Post One</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, ut?Lorem ipsum dolor sit amet consectetur.</p>
            </div>
            <div class="card-stats">
                <div class="stat">
                    <div class="value">4<sup>m</sup></div>
                    <div class="type">read</div>
                </div>

                <div class="stat border">
                    <div class="value">5146</div>
                    <div class="type">views</div>
                </div>

                <div class="stat">
                    <div class="value">32</div>
                    <div class="type">comments</div>
                </div>
            </div>
    </div>


    <div class="card2">
        <div class="card-image"></div>
            <div class="card-text">
                <span class="date">4 days ago</span>
                <h2>Post One</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, ut?Lorem ipsum dolor sit amet consectetur.</p>
            </div>
            <div class="card-stats">
                <div class="stat">
                    <div class="value">4<sup>m</sup></div>
                    <div class="type">read</div>
                </div>

                <div class="stat border">
                    <div class="value">5146</div>
                    <div class="type">views</div>
                </div>

                <div class="stat">
                    <div class="value">32</div>
                    <div class="type">comments</div>
                </div>
            </div>
    </div>



    <div class="card2">
        <div class="card-image"></div>
            <div class="card-text">
                <span class="date">4 days ago</span>
                <h2>Post One</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, ut?Lorem ipsum dolor sit amet consectetur.</p>
            </div>
            <div class="card-stats">
                <div class="stat">
                    <div class="value">4<sup>m</sup></div>
                    <div class="type">read</div>
                </div>

                <div class="stat border">
                    <div class="value">5146</div>
                    <div class="type">views</div>
                </div>

                <div class="stat">
                    <div class="value">32</div>
                    <div class="type">comments</div>
                </div>
            </div>
    </div>
    
</section>