
<section appAddDiv [Parameter]="parameter"></section>
<section id="card39">


    
        <div class="container2">
                <div class="slide">
                    <div class="active"><img src="../../../assets/img/slider1.jpg" alt=""></div>
                    <div><img src="../../../assets/img/slider2.jpg" alt=""></div>
                    <div><img src="../../../assets/img/slider3.jpg" alt=""></div>
                    <div><img src="../../../assets/img/slider4.jpg" alt=""></div>
                    <div><img src="../../../assets/img/slider5.jpg" alt=""></div>
                </div>
                <div class="control">
                    <h2 class="next"  sliderIconClick><fa-icon class="fas" [icon]="faAngleRight"></fa-icon></h2>
                    <h2 class="prev" sliderIconClick><fa-icon class="fas" [icon]="faAngleLeft"></fa-icon></h2>
                </div>
            </div>
        
</section>