

#card39{
 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    background: #ccc;

    /* background: url(../img/beauty.jpg);
    background-size: cover; */

    font-family: sans-serif;
}
.container2
{
    position: relative;
    width: 600px;
    height: 400px;  
    background: #fff; 
}
.container2:before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    transition: .5s;
}
.container2:hover:before
{
    top:-40px;
    left: -40px;

}
.container2 .slide
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    box-shadow: 0 10px 20px rgba(0,0,0,.25);
}
.container2 .slide div
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
}
.container2 .slide div.active
{
    opacity: 1;
    visibility: visible;
}
.container2 .slide div img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.control
{
    position: absolute;
    bottom: 0px;
    right: 0;
    width: 100%;
    height: 160px;
    background: #fff;
    z-index: 1;
    transition: .5s;
    box-shadow: 0 10px 20px rgba(0,0,0,.25);
}
.container2:hover .control{
    bottom: -40px;
    right: -80px;
}
.next, .prev{

    position: absolute;
    width: 80px;
    height: 80px;
    margin: 0;
    padding: 0;
    background: linear-gradient(-90deg, #ff0, #f00);
    color: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
   
}
.next{
    bottom: 80px;
    right: 0;
    border-bottom: 1px solid rgba(0,0,0,.2);
}

.prev{
    bottom: 0px;
    right: 0;
}
.fas{
    font-size: 36px;
    color: #fff;
}