
<section appAddDiv [Parameter]="parameter"></section>
<section id="card32">
    
        <div class="box">
                <div class="card2"></div>
                <div class="card2"></div>
                <div class="card2"></div>
                <div class="card2"></div>
                <div class="card2"></div>
                <div class="card2"></div>
                <div class="card2"></div>
            </div>
        
</section>