

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #e0e0e0;
}

.cardBox{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    perspective: 1000px;
     
}

.cardBox .card2{
    position: relative;
    width: 525px;
    height: 300px;
    background: #262626;
    transform-style: preserve-3d;
    transition: 1s ease;
   
}
.cardBox .card2 .card-front, .cardBox .card2 .card-back
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.cardBox .card2 .card-front
{
   display: flex;
   font-size: 40px;
   justify-content: center;
   align-items: center;
   background: #262626;
   color: #fff;
   overflow: hidden;

}
.cardBox .card2 .card-front .content
{
    text-align: center;    

}
.cardBox .card2 .card-front img
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}
.cardBox .card2 .card-front h3
{
    margin: 20px 0 0;
    padding: 0;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #fff;
}
.cardBox .card2 .card-back
{
    background: #fff;
    color: #262626;
}
.cardBox .card2 .card-back .content
{
    position: relative;
    width: 100%;
    height: 100%;
}
.cardBox .card2 .card-back .content .logo
{
    padding: 40px 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardBox .card2 .card-back .content .logo img
{
    width: 80px;
    height: 80px;
   border-right: 1px solid #262626 ;
   padding-right: 20px;
}

.cardBox .card2 .card-back .content .logo h2
{
    margin: 0;
    padding: 0;
    padding-left: 20px;
    text-transform: uppercase;
}

.cardBox .card2 .card-back .content ul
{
    position: absolute;
    width: 100%;
    height: 150px;
    bottom: 0;
   
    margin: 0;
    padding: 20px 40px;
    box-sizing: border-box;
    background: #262626;
    border-top: 10px solid #fc2827;
}
.cardBox .card2 .card-back .content ul li
{
    list-style: none;
    color: #fff;
    padding: 6px 0;
    font-size: 16px;
    text-transform: uppercase; 
     font-weight: bold;
}
.cardBox .card2 .card-back .content ul li span:nth-child(1)
{
    width: 20px;
    display: inline-block;   
}
.cardBox:hover .card2 
{
   transform: rotateY(180deg);
}
.cardBox .card2 .card-back
{
   transform: rotateY(180deg);
}