
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #323232;
}

section{
    padding: 100px 0;
    box-sizing: border-box;
}

.container2{
    width: 1200px;
    margin: 0 auto;
}

.container2 .column
{
    position: relative;
    width: 400px;
    float: left;
    transition: .5s;
}

.container2 .column .box
{
    position: relative;
    width: 320px;
    min-height: 550px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    background: linear-gradient(0deg, #202022, #464646);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
    border: 3px solid #ffc98e;
    box-shadow:  0 0 0 6px #323232, 0 0 0 10px #ffc98e, 0 0 0 20px #323232, 0 10px 150px rgba(0,0,0,1);
    overflow-y: hidden;
    transition: .5s;
}

.container2 .column .box:hover
{
transform: scale(1.1);
}
.container2 .column .box:before
{
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.1);
    pointer-events: none;
}


.container2 .column .box .title .fas{

    margin-top: 20px;
    font-size: 60px;
    color: #ffc98e;
}


.container2 .column .box .title h2{

    color: #fff;
    margin: 20px 0 0;
    padding: 0;
}


.container2 .column .box .price h4{

    font-size: 60px;
    color: #ffc98e;
    margin: 10px 0;
    padding: 0;

}

.container2 .column .box .option ul
{
    margin: 20px 0;
    padding: 0;
}


.container2 .column .box .option ul li
{
    list-style: none;
    color: #fff;
    padding: 10px 0;
    border-bottom: 1px solid rgba(255,255,255,.1);
}


.container2 .column .box .option ul li:last-child
{
    border-bottom: none;
}

.container2 .column .box .btn2
{
    display: inline-block;
    text-decoration: none;
    color: #262626;
    background: #ffc98e;
    padding: 15px 30px;
    margin-top: 20px;
    font-weight: bold;
    border-radius: 10px;

}