
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111;
}
.card2{

    position: relative;
    width: 300px;
    height: 400px;
    transform-style: preserve-3d;
}

.card2 .face{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    transition: 2s ease-in-out;
    transform: perspective(500px) rotateY(0deg);

}

.card2 .face.front{
    background: #ff0;
}

.card2:hover .face.front{
    transform: perspective(500px) rotateY(180deg);
}
.card2 .face.back{
    background: #3bc2ff;
    color: #fff;
    transform: perspective(500px) rotateY(180deg);
}

.card2:hover .face.back{
    
    transform: perspective(500px) rotateY(360deg);
}

.card2 .face h2{
    font-size: 4em;
    text-transform: uppercase;
    transform: perspective(500px) translateZ(50px);
}