
body{
    margin: 0;
    padding: 0;
    background: #262626;
}
.box{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    height: 420px;

}

.box .card2
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/kral.jpg);
    box-shadow:0 2px 15px rgba(0,0,0,.5) ;
    transition: .5s;
    transform-origin: bottom;
    border-radius: 10px;
}

.box .card2:nth-child(1)
{
    transform: translate(0px,0px);
}
.box .card2:nth-child(2)
{
    transform: translate(2px,2px);
}
.box .card2:nth-child(3)
{
    transform: translate(4px,4px);
}
.box .card2:nth-child(4)
{
    transform: translate(6px,6px);
}
.box .card2:nth-child(5)
{
    transform: translate(8px,8px);
}
.box .card2:nth-child(6)
{
    transform: translate(10px,10px);
}
.box .card2:nth-child(7)
{
    transform: translate(12px,12px);
}


.box:hover .card2:nth-child(1)
{
    transform:rotate(-45deg) translate(0px,0px);
}
.box:hover .card2:nth-child(2)
{
    transform:rotate(-30deg) translate(0px,0px);
}

.box:hover .card2:nth-child(3)
{
    transform:rotate(-15deg) translate(0px,0px);
}

.box:hover .card2:nth-child(4)
{
    transform:rotate(0deg) translate(0px,0px);
}
.box:hover .card2:nth-child(5)
{
    transform:rotate(15deg) translate(0px,0px);
}
.box:hover .card2:nth-child(6)
{
    transform:rotate(30deg) translate(0px,0px);
}
.box:hover .card2:nth-child(7)
{
    transform:rotate(45deg) translate(0px,0px);
}

.box .card2:hover
{
    z-index: 1;
    box-shadow: 0 20px 50px rgba(0,0,0,.5);
}