<section appAddDiv [Parameter]="parameter"></section>
<section id="card42">
      
    <div class="container2">
        <div class="card2">
            <div class="imgBox">
                <img src="../../../assets/img/fenerbahce.png" alt="">
            </div>
            <div class="details">
                <h2>Hey There!!!</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus ratione repellendus animi dolorem eligendi, sed doloribus tempora id reiciendis in libero nostrum minus! Cum error placeat culpa. Consequuntur, delectus nostrum.</p>

            </div>
        </div>


        
        <div class="card2">
            <div class="imgBox">
                <img src="../../../assets/img/slider3.jpg" alt="">
            </div>
            <div class="details">
                <h2>Hey There!!!</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus ratione repellendus animi dolorem eligendi, sed doloribus tempora id reiciendis in libero nostrum minus! Cum error placeat culpa. Consequuntur, delectus nostrum.</p>
                
            </div>
        </div>


        
        <div class="card2">
            <div class="imgBox">
                <img src="../../../assets/img/slider2.jpg" alt="">
            </div>
            <div class="details">
                <h2>Hey There!!!</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus ratione repellendus animi dolorem eligendi, sed doloribus tempora id reiciendis in libero nostrum minus! Cum error placeat culpa. Consequuntur, delectus nostrum.</p>
                
            </div>
        </div>


        
        <div class="card2">
            <div class="imgBox">
                <img src="../../../assets/img/slider4.jpg" alt="">
            </div>
            <div class="details">
                <h2>Hey There!!!</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus ratione repellendus animi dolorem eligendi, sed doloribus tempora id reiciendis in libero nostrum minus! Cum error placeat culpa. Consequuntur, delectus nostrum.</p>
                
            </div>
        </div>


        
        <div class="card2">
            <div class="imgBox">
                <img src="../../../assets/img/slider5.jpg" alt="">
            </div>
            <div class="details">
                <h2>Hey There!!!</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus ratione repellendus animi dolorem eligendi, sed doloribus tempora id reiciendis in libero nostrum minus! Cum error placeat culpa. Consequuntur, delectus nostrum.</p>
                
            </div>
        </div>


        
        <div class="card2">
            <div class="imgBox">
                <img src="../../../assets/img/galatasaray.png" alt="">
            </div>
            <div class="details">
                <h2>Hey There!!!</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus ratione repellendus animi dolorem eligendi, sed doloribus tempora id reiciendis in libero nostrum minus! Cum error placeat culpa. Consequuntur, delectus nostrum.</p>
                
            </div>
        </div>
    </div>
</section>