
#card47{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    background: linear-gradient(0deg,#fff 50%, #2196f3);
}

.container2{
    max-width: 1000px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transition: .5s;
}
.container2 .card2
{
       position: relative;
       width: 250px;
       height: 300px;
       background: #fff;
       display: flex;
       justify-content: center;
       align-items: center;
       transition: .5s;
}
.container2:hover .card2
{
    filter: blur(5px);
    transform: scale(.7);
}
.container2 .card2:hover
{
    filter: blur(0px);
    transform: scale(1);
}
.container2 .card2::before
{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 1;
    transition: .5s;
}
.container2 .card2:hover::before
{
    background: #000;
    transform: scaleY(1.15);
    box-shadow: 0 5px 15px rgba(0,0,0,.2);
}
.container2 .card2 .content
{   
    text-align: center;
    z-index: 2;
    padding: 0 20px;
    transition: .5s;
}
.container2 .card2:hover .content
{ 
    color: #fff;
}
.container2 .card2 .content h2
{ 
    font-size: 3em;
}
.container2 .card2 .content p
{ 
    font-size: 0.9em;
}

.container2 .card2 .content a
{ 
    display: inline-block;
    margin-top: 15px;
    padding: 5px 10px;
    background: #262626;
    color: #fff;
    text-decoration: none;
}

.container2 .card2:hover .content a
{ 
    background: #2196f3;
}