
<section appAddDiv [Parameter]="parameter"></section>
<section id="card47">
    <div class="container2">
        <div class="card2">
            <div class="content">
                <h2>1</h2>
                <p>Lorem ipsum dolor sit. Lorem, ipsum.</p>
                <a href="">Read More</a>
            </div>
        </div>


        <div class="card2">
            <div class="content">
                <h2>2</h2>
                <p>Lorem ipsum dolor sit. Lorem, ipsum.</p>
                <a href="">Read More</a>
            </div>
        </div>


        <div class="card2">
            <div class="content">
                <h2>3</h2>
                <p>Lorem ipsum dolor sit. Lorem, ipsum.</p>
                <a href="">Read More</a>
            </div>
        </div>


        <div class="card2">
            <div class="content">
                <h2>4</h2>
                <p>Lorem ipsum dolor sit. Lorem, ipsum.</p>
                <a href="">Read More</a>
            </div>
        </div>
    </div>

</section>