
body{
    margin:0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.6;
}

.container2
{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.container2 .card2
{
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0,0,0,.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all .25s;   
}

.container2 .card2:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0,0,0,.2);
}

.container2 .card2 img{
    width:330px ;
    height: 220px;
}

.container2 .card2 h4
{
    font-weight: 600;
}

.container2 .card2 p
{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}
.container2 .card2 a
{
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
}