
<section appAddDiv [Parameter]="parameter"></section>
<section id="card33">
        <div class="card2">
                <div class="box">
                    <div class="imgBox">
                        <img src="../../assets/img/avatar2.png" alt="">
                    </div>
                    <h2>John Doe <br><span>Senior UX/UI Designer</span></h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus quas voluptatibus minus modi dolor esse ullam perferendis nesciunt pariatur ad.
        
                    </p>
                    <ul>
                        
                        <li><a href=""><fa-icon [icon]="faFacebook"></fa-icon></a></li>
                        <li><a href=""><fa-icon [icon]="faTwitter"></fa-icon></a></li>
                        <li><a href=""><fa-icon [icon]="faLinkedin"></fa-icon></a></li>
                        <li><a href=""><fa-icon [icon]="faInstagram"></fa-icon></a></li>
                        <li><a href=""><fa-icon [icon]="faGooglePlusG"></fa-icon></a></li>
        
        
        
                    </ul>
                </div>
            </div>
        
</section>