#car33{

    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #fbfbfb;
}

.card2{
    position: relative;
    top: 50%;
    left: 40%;
    /* transform: translate(-50%,-50%); */
    width:300px;/*300px*/
    
    min-height: 400px;
    background: #fff;
    box-shadow: 0 20px 50px rgba(0,0,0,.1);
    border-radius: 10px;
    transition: .5s;
}

.card2:hover{

    box-shadow: 0 30px 70px rgba(0,0,0,.3);
}
.card2 .box{

    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    text-align: center;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;

}

.card2 .box .imgBox{
    width: 120px;
    height: 120px;
    margin: 0 auto;
    border-radius: 50%;
    overflow:hidden;
}

.card2 .box .imgBox img{
width: 100%;
}

.card2 .box h2{
    font-size: 20px;
    color: #262626;
}
.card2 .box h2 span{
    font-size: 14px;
    background: #e91e63;
    color: #fff;
    display: inline-block;
    padding: 4px 10px;
    border-radius: 15px;
}
.card2 .box p{
    color: #262626;
}


.card2 .box ul{
    margin: 0;
    padding: 0;
    display: inline-block;
}

.card2 .box ul li{
    list-style: none;
    float: left;
}
.card2 .box ul li a{
    display: inline-block;
    color: #aaa;
    margin: 0 10px;
    font-size: 20px;
    transition: .5s;
    text-align: center;
}

.card2 .box ul li:hover a{
    color: #e91e63;
    transform: rotateY(360deg);
}