
<section appAddDiv [Parameter]="parameter"></section>

<section id="card13">

    <div class="center">
        <div class="container2">
            <img src="../../assets/img/avatar2.png" alt="">
            <h2>Someone Famous</h2>
            <ul>
                <li><a href="#"><fa-icon class="fab" [icon]="faFacebook"></fa-icon></a></li>
                <li><a href="#"><fa-icon class="fab" [icon]="faTwitter"></fa-icon></a></li>
                <li><a href="#"><fa-icon class="fab" [icon]="faLinkedinIn"></fa-icon></a></li>
            </ul>
        </div>
    </div>


</section>

 