
<section appAddDiv [Parameter]="parameter"></section>
<section id="card7">
    <div class="box2">
        <div class="card2">
            <div class="imgBx">
                <img src="../../assets/img/avatar2.png" alt="">
            </div>
            <div class="details">
                <h2>Someone Famous <br><span>Founder</span></h2>
            </div>
        </div>

        <div class="card2">
            <div class="imgBx">
                <img src="../../assets/img/avatar2.png" alt="">
            </div>
            <div class="details">
                <h2>Someone Famous <br><span>Director</span></h2>
            </div>
        </div>

        <div class="card2">
            <div class="imgBx">
                <img src="../../assets/img/avatar2.png" alt="">
            </div>
            <div class="details">
                <h2>Someone Famous <br><span>Producer</span></h2>
            </div>
        </div>
    </div>
</section>