#card7{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    
}
.box2{
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 15px;
    margin: 0 auto;

}

.card2{
    position: relative;
    width: 300px;
    height: 350px;
    background: #fff;
    margin: 0  auto;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
}
.card2::before,
.card2::after{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: #fff;
    transition: .5s;
    z-index: -1;
}

.card2:hover::before
{
    transform: rotate(20deg);
    box-shadow: 0 2px 20px rgba(0,0,0,.2);
}
.card2:hover::after{
    transform: rotate(10deg);
    box-shadow: 0 2px 20px rgba(0,0,0,.2);
}

.card2 .imgBx{

    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: #222;
    transition: .5s;
    z-index: 1;

}
.card2:hover .imgBx{
    bottom: 80px;
}

.card2 .imgBx img{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.card2 .details{

    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 60px;
    text-align: center;
}

.card2 .details h2{

    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 20px;
    color: #777;
    text-transform: uppercase;

}


.card2 .details h2 span{

    font-weight: 500;
    font-size: 16px;
    color: #f38695;
    
}