
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;   
}

body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container2{

    position: relative;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.container2 .card2
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 100px 0;
}
.container2 .card2:nth-child(odd)
{
    flex-direction: row;
}
.container2 .card2:nth-child(even)
{
    flex-direction: row-reverse;
    text-align: right;
}
.container2 .card2 .imgBox
{
    position: relative;
    left: 25px;
    width: 500px;
    height: 400px;
    z-index: 1;
}
.container2 .card2:nth-child(even) .imgBox
{
    left: -25px;
}
.container2 .card2 .imgBox img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container2 .card2 .contentBox
{   
    position: relative;
    right: 25px;
    width: 500px;
    height: 400px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 60px 20px 100px;

}
.container2 .card2:nth-child(even) .contentBox
{
    right: -25px;
    padding: 20px 100px 20px 60px;
}
.container2 .card2 .contentBox:before
{  
    content: '';
    position: absolute;
    top: -50px;
    bottom: -50px;
    left: 0;
    right: 0;
    background: #000;
    z-index: -1;
}
.container2 .card2 .contentBox h2
{   
    font-size: 30px;
    color: #fff;
}
.container2 .card2 .contentBox p
{   
   margin-top: 10px;
    color: #fff;
}

.container2 .card2 .contentBox a
{
    display: inline-block;
    margin-top: 15px;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border: 1px solid #fff;
}

@media (max-width: 1000px)
{
    .container2 .card2
    {
        flex-direction: column;
        max-width: 350px;
        margin:25px 25px;
    }

    .container2 .card2 .imgBox
    {
        width: 100%;
        height: 250px;
        left: 0;
    }
    .container2 .card2 .contentBox
    {
        width: 100%;
        height: auto;
        right: 0;
        padding: 30px;
        text-align: center;
    }
    .container2 .card2 .contentBox:before
    {
        top: 0;
        bottom: 0;
    }
    .container2 .card2:nth-child(even) .imgBox
    {
        left: 0;
    }
    .container2 .card2:nth-child(even) .contentBox
    {
        right: 0;
        padding: 30px;
    }
}