
<section appAddDiv [Parameter]="parameter"></section>
<section id="card8">
    
    <div class="card2">
        <input type="checkbox" name="">
        <div class="toggle2">+</div>
        <div class="imgBx">
            <img src="../../assets/img/avatar2.png" alt="">
        </div>
        <div class="details">
            <h2>Someone Famous</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro repellat provident exercitationem recusandae placeat illum, debitis expedita tenetur consectetur quis. Ad, debitis! Obcaecati voluptatem possimus dignissimos asperiores, saepe accusantium doloremque! Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe reiciendis, dolorum voluptate ex delectus nobis qui veritatis, laborum odit explicabo non rem fugit, deserunt impedit debitis reprehenderit assumenda quos libero.
            </p>
        </div>

    </div>
</section>