<section appAddDiv [Parameter]="parameter"></section>
<section id="card28">
    
        <div class="wrapper">
                <div class="column">
                    <div class="imgBox">
                        <img src="../../assets/img/dan.jpg" alt="">
                    </div>
                    <div class="details">
                        <div class="content">
                            <h1>Member Name <br><span>Developer</span></h1>
                        
                        <ul>

                            <li><a href=""><fa-icon [icon]="faFacebook"></fa-icon></a></li>
                            <li><a href=""><fa-icon [icon]="faTwitter"></fa-icon></a></li>
                            <li><a href=""><fa-icon [icon]="faInstagram"></fa-icon></a></li>
                            <li><a href=""><fa-icon [icon]="faLinkedin"></fa-icon></a></li>
                           
                        </ul>
                    </div>
                    </div>
                </div>
        
                
                <div class="column">
                        <div class="imgBox">
                            <img src="../../assets/img/emme.jpg" alt="">
                        </div>
                        <div class="details">
                            <div class="content">
                                <h1>Member Name <br><span>Developer</span></h1>
                            
                            <ul>
                                    <li><a href=""><fa-icon [icon]="faFacebook"></fa-icon></a></li>
                                    <li><a href=""><fa-icon [icon]="faTwitter"></fa-icon></a></li>
                                    <li><a href=""><fa-icon [icon]="faInstagram"></fa-icon></a></li>
                                    <li><a href=""><fa-icon [icon]="faLinkedin"></fa-icon></a></li>
                               
                            </ul>
                        </div>
                        </div>
                    </div>
        
                    
                <div class="column">
                        <div class="imgBox">
                            <img src="../../assets/img/luke.jpg" alt="">
                        </div>
                        <div class="details">
                            <div class="content">
                                <h1>Member Name <br><span>Developer</span></h1>
                           
                            <ul>
                                    <li><a href=""><fa-icon [icon]="faFacebook"></fa-icon></a></li>
                                    <li><a href=""><fa-icon [icon]="faTwitter"></fa-icon></a></li>
                                    <li><a href=""><fa-icon [icon]="faInstagram"></fa-icon></a></li>
                                    <li><a href=""><fa-icon [icon]="faLinkedin"></fa-icon></a></li>
                               
                            </ul>
                        </div>
                        </div>
                    </div>
        
                    
                <div class="column">
                        <div class="imgBox">
                            <img src="../../assets/img/tucci.jpg" alt="">
                        </div>
                        <div class="details">
                            <div class="content">
                                <h1>Member Name <br><span>Developer</span></h1>
                           
                            <ul>
                                    <li><a href=""><fa-icon [icon]="faFacebook"></fa-icon></a></li>
                                    <li><a href=""><fa-icon [icon]="faTwitter"></fa-icon></a></li>
                                    <li><a href=""><fa-icon [icon]="faInstagram"></fa-icon></a></li>
                                    <li><a href=""><fa-icon [icon]="faLinkedin"></fa-icon></a></li>
                               
                            </ul>
                        </div>
                        </div>
                    </div>
        
                    
                <div class="column">
                        <div class="imgBox">
                            <img src="../../assets/img/emme.jpg" alt="">
                        </div>
                        <div class="details">
                            <div class="content">
                                <h1>Member Name <br><span>Developer</span></h1>
                            
                            <ul>
                                    <li><a href=""><fa-icon [icon]="faFacebook"></fa-icon></a></li>
                                    <li><a href=""><fa-icon [icon]="faTwitter"></fa-icon></a></li>
                                    <li><a href=""><fa-icon [icon]="faInstagram"></fa-icon></a></li>
                                    <li><a href=""><fa-icon [icon]="faLinkedin"></fa-icon></a></li>
                               
                            </ul>
                        </div>
                        </div>
                    </div>
            </div>
            <div style="clear: both;"></div>
            
</section>