<section appAddDiv [Parameter]="parameter"></section>
<section id="card40">

        <div class="container2">
                <div class="card2">
                    <div class="imgBox">
                        <img src="../../../assets/img/avatar2.png" alt="">
                    </div>
                    <div class="details">
                        <div class="content">
                            <h2>Someone Famous <br><span>Founder of Lorem Ipsum</span></h2>
                            <ul>
                                <li><a href="">Fb</a></li>
                                <li><a href="">Tw</a></li>
                                <li><a href="">Yt</a></li>
                                <li><a href="">In</a></li>
                            </ul>
                            <a href="">Read More</a>
                        </div>
                    </div>
                </div>
        
        
                <div class="card2">
                        <div class="imgBox">
                            <img src="../../../assets/img/avatar3.jpg" alt="">
                        </div>
                        <div class="details">
                            <div class="content">
                                <h2>Someone Famous <br><span>Founder of Lorem Ipsum</span></h2>
                                <ul>
                                    <li><a href="">Fb</a></li>
                                    <li><a href="">Tw</a></li>
                                    <li><a href="">Yt</a></li>
                                    <li><a href="">In</a></li>
                                </ul>
                                <a href="">Read More</a>
                            </div>
                        </div>
                    </div>
        
        
                    <div class="card2">
                            <div class="imgBox">
                                <img src="../../../assets/img/avatar3.jpg" alt="">
                            </div>
                            <div class="details">
                                <div class="content">
                                    <h2>Someone Famous <br><span>Founder of Lorem Ipsum</span></h2>
                                    <ul>
                                        <li><a href="">Fb</a></li>
                                        <li><a href="">Tw</a></li>
                                        <li><a href="">Yt</a></li>
                                        <li><a href="">In</a></li>
                                    </ul>
                                    <a href="">Read More</a>
                                </div>
                            </div>
                        </div>
        
        
                        <div class="card2">
                                <div class="imgBox">
                                    <img src="../../../assets/img/avatar2.png" alt="">
                                </div>
                                <div class="details">
                                    <div class="content">
                                        <h2>Someone Famous <br><span>Founder of Lorem Ipsum</span></h2>
                                        <ul>
                                            <li><a href="">Fb</a></li>
                                            <li><a href="">Tw</a></li>
                                            <li><a href="">Yt</a></li>
                                            <li><a href="">In</a></li>
                                        </ul>
                                        <a href="">Read More</a>
                                    </div>
                                </div>
                            </div>
            </div>
        
</section>