*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
   
    min-height: 100vh;
    background: linear-gradient(#0f4675, #0f4675 50%, #fff 50%, #fff 100%);
}

.container2
{
    width: 1100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container2 .box
{
    position: relative;
    width: 320px;
    background: #fff;
    padding: 100px 40px 60px;
    box-shadow: 0 15px 45px rgba(0,0,0,.1);
}

.container2 .box:before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ff226d;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform .5s;
}

.container2 .box:hover:before
{
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform .5s;
}

.container2 .box h2
{
    position: absolute;
    left: 40px;
    top: 60px;
    font-size: 4em;
    z-index: 1;
    opacity: .1;
    transition: .5s;
}

.container2 .box:hover h2
{
    opacity: 1;
    color: #fff;
    transform: translateY(-50px);
}   
.container2 .box h3
{
    position: relative;
    font-size: 1.5em;
    z-index: 2;
    color: #333;
    transition: .5s;
}
.container2 .box p
{
    position: relative;
   
    z-index: 2;
    color: #555;
    transition: .5s;
}
.container2 .box:hover h3, .container2 .box:hover p
{
    color: #fff;
}