
*{
    margin: 0;
    padding: 0;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #101010;
}
.percent{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50% ;
    box-shadow: inset 0 0 50px #000;
    background: #222;
    z-index: 1000;
}

.percent .number{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

}
.percent .number h2{
    color: #777;
    font-weight: 700;
    font-size: 40px;
    transition: .5s;

}

.card2:hover .percent .number h2{

    color: #fff;
    font-size: 60px;

}
.card2:hover .percent .number h2 span{

    color: #fff;
}

.text{
    position: relative;
    color: #777;
    margin-top: 20px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: .5s;

}

.card2:hover .text{

    color: #fff;
}
.percent .number h2 span{

    font-size: 24px;
    color: #777;
}
svg{

    position: relative;
    width: 150px;
    height: 150px;
    z-index: 1000;
}
.container2{

    position: relative;
    width: 900px;
    display: flex;
    justify-content: space-around;
   
}
.container2 .card2{

    position: relative;
    width: 250px;
    background: linear-gradient(0deg, #1b1b1b,#222,#1b1b1b);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    border-radius: 4px;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
}

.container2 .card2:hover{

    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(0,0,0,.5);
}

.container2 .card2::before{

    content: '';
    position: absolute;
    top: 0;
    left:-50%;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.03);
    pointer-events: none;
    z-index: 1;
}

svg circle{
    width: 100%;
    height: 100%;
    fill: none;
    stroke: #191919;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px,5px);
}
svg circle:nth-child(2){

    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}

.card2:nth-child(1) svg circle:nth-child(2){

    stroke-dashoffset: calc(440 - (440*90)/100);
    stroke:#00ff43;
}

.card2:nth-child(2) svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440*85)/100);

    stroke:#00a1ff;
}

.card2:nth-child(3) svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440*70)/100);

    stroke:#ff04f3;
}