
<section appAddDiv [Parameter]="parameter"></section>

<section id="card1">


<div class="container2">
        
        <div class="box">
            <div class="content">

                <h2>01</h2>
                <h3>Service One</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda voluptatem, sunt ratione. Voluptatibus numquam, asperiores error reprehenderit provident. Totam accusantium cum quae ad rerum aut quisquam non odit, ut illo.</p>
                <a href="#">Read More</a>
            </div>
        </div>

        <div class="box">
            <div class="content">

                <h2>02</h2>
                <h3>Service Two</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda voluptatem, sunt ratione. Voluptatibus numquam, asperiores error reprehenderit provident. Totam accusantium cum quae ad rerum aut quisquam non odit, ut illo.</p>
                <a href="#">Read More</a>

            </div>
        </div>

        <div class="box">
            <div class="content">

                <h2>03</h2>
                <h3>Service Three</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda voluptatem, sunt ratione. Voluptatibus numquam, asperiores error reprehenderit provident. Totam accusantium cum quae ad rerum aut quisquam non odit, ut illo.</p>
                  <a href="#">Read More</a>
            </div>
        </div>

        <div class="box">
            <div class="content">

                <h2>04</h2>
                <h3>Service Four</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda voluptatem, sunt ratione. Voluptatibus numquam, asperiores error reprehenderit provident. Totam accusantium cum quae ad rerum aut quisquam non odit, ut illo.</p>
                  <a href="#">Read More</a>
            </div>
        </div>
        
        
        <div class="box">
            <div class="content">

                <h2>05</h2>
                <h3>Service Five</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda voluptatem, sunt ratione. Voluptatibus numquam, asperiores error reprehenderit provident. Totam accusantium cum quae ad rerum aut quisquam non odit, ut illo.</p>
                  <a href="#">Read More</a>
            </div>
        </div>
        <div class="box">
                <div class="content">
    
                    <h2>06</h2>
                    <h3>Service Six</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda voluptatem, sunt ratione. Voluptatibus numquam, asperiores error reprehenderit provident. Totam accusantium cum quae ad rerum aut quisquam non odit, ut illo.</p>
                      <a href="#">Read More</a>
                </div>
            </div>
    </div>
</section>