<section appAddDiv [Parameter]="parameter"></section>
<section id="card43">
    
        <div class="container2">
                <div class="box">
                    <div class="imgBox">
                        <img src="../../../assets/img/dan.jpg" alt="">
                    </div>
                    <div class="content">
                        <h3>Post Title One</h3>
                        <p>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet modi ad sequi distinctio nihil praesentium ratione eius dolorem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt veniam, quibusdam dignissimos blanditiis ea eos excepturi optio obcaecati alias rem iusto. Beatae harum rem, cum porro possimus cupiditate in ea?
                        </p>
                    </div>
                </div>
        
        
                <div class="box">
                        <div class="imgBox">
                            <img src="../../../assets/img/emme.jpg" alt="">
                        </div>
                        <div class="content">
                            <h3>Post Title Two</h3>
                            <p>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet modi ad sequi distinctio nihil praesentium ratione eius dolorem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt veniam, quibusdam dignissimos blanditiis ea eos excepturi optio obcaecati alias rem iusto. Beatae harum rem, cum porro possimus cupiditate in ea?
                            </p>
                        </div>
                    </div>
        
        
                    <div class="box">
                            <div class="imgBox">
                                <img src="../../../assets/img/avatar2.png" alt="">
                            </div>
                            <div class="content">
                                <h3>Post Title Three</h3>
                                <p>
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet modi ad sequi distinctio nihil praesentium ratione eius dolorem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt veniam, quibusdam dignissimos blanditiis ea eos excepturi optio obcaecati alias rem iusto. Beatae harum rem, cum porro possimus cupiditate in ea?
                                </p>
                            </div>
                        </div>
            </div>
            
</section>