
#card43{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    background: #003e46;
    font-family: sans-serif;
}

.container2
{
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box{
    position: relative;
    width: 300px;
    height: 400px;
    background: #000;
    margin: 10px 0;
    box-shadow: 0 30px 30px rgba(0,0,0,.5);

}

.box .imgBox
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.box .imgBox img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s;
}

.box:hover .imgBox img
{
    opacity: 0;
}

.box .content
{
    position: absolute;
    bottom: 20px;
    left: 10%;
    width: 80%;
    height: 60px;
    background: #fff;
    transition: .5s;
    overflow: hidden;

    padding: 15px;
    box-sizing: border-box;
}


.box:hover .content
{
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
}

.box .content h3
{
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.box .content p
{
    margin: 10px 0 0;
    padding: 0;
    opacity: 0;
    line-height: 1.2em;
    transition: .5s;
    text-align: justify;
}

.box:hover .content p
{
    opacity: 1;
    transition-delay: .5s;
}