<section appAddDiv [Parameter]="parameter"></section>

<section id="card58">
      
<div appCarouselDirective class="slide hi-slide">
    <div class="hi-prev"></div>
    <div class="hi-next"></div>
    <ul>
        <li>
            <img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">

        </li>

        <li>
            <img src="https://images.pexels.com/photos/1043471/pexels-photo-1043471.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">

        </li>

        <li>
            <img src="https://images.pexels.com/photos/1547971/pexels-photo-1547971.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">

        </li>

        <li>
            <img src="https://images.pexels.com/photos/2726111/pexels-photo-2726111.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">

        </li>

        <li>
            <img src="https://images.pexels.com/photos/2752080/pexels-photo-2752080.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">

        </li>

        <li>
         <img src="https://images.pexels.com/photos/1382731/pexels-photo-1382731.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">

        </li>

        <li>
           <img src="https://images.pexels.com/photos/2813157/pexels-photo-2813157.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">

        </li>

        <li>
            <img src="https://images.pexels.com/photos/2117283/pexels-photo-2117283.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" alt="">
        </li>

    </ul>
</div>

</section>