<section appAddDiv [Parameter]="parameter"></section>

<section id="card9">
    <div class="card2">
        <div class="poster">
            <img src="../../assets/img/beauty.jpg" alt="">
        </div>
        <div class="details">
            <h2>Beauty and the Beast (2017) <br> <span>Directed by Bill Condon</span></h2>
            <div class="rating">
                    <fa-icon class="fa" [icon]="faStar"></fa-icon>
                    <fa-icon class="fa" [icon]="faStar"></fa-icon>
                    <fa-icon class="fa" [icon]="faStar"></fa-icon>
                    <fa-icon class="fa" [icon]="faStar"></fa-icon>
                    <fa-icon class="fa" [icon]="faTwitter"></fa-icon>
                   
                  
                    <span>4.5</span>
            </div>
      <div class="tags">
          <span class="fantasy">Fantasy</span>
          <span class="romance">Romance</span>
      </div>
      <div class="info">
          <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur quae placeat reiciendis exercitationem officiis nam, dolor alias fugit, expedita veritatis quis natus quisquam voluptas nesciunt voluptatum eaque! Iste, laborum optio?

          </p>

      </div>
      <div class="star">
          <h4>Cast</h4>
          <ul>
              <li><img src="../../assets/img/dan.jpg" alt=""></li>
              <li><img src="../../assets/img/emme.jpg" alt=""></li>
              <li><img src="../../assets/img/luke.jpg" alt=""></li>
              <li><img src="../../assets/img/tucci.jpg" alt=""></li>
          </ul>
      </div>
        </div>
    </div>
    
</section>