
#card63
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #ccc;
    background: url(https://images.pexels.com/photos/1363876/pexels-photo-1363876.jpeg?auto=compress&cs=tinysrgb&h=650&w=940) no-repeat;
    background-size: cover;
}

.box
{
    width: 450px;
    background: rgba(0,0,0,.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: #fff;

}
.box-img
{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 3px solid #fff;
}

.box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}
.box h5{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
}

.box p{
    text-align: justify;
}

.box ul{
    margin: 0;
    padding: 0;
}

.box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
}
.box li a{
    color: #fff;
    text-decoration: none;
    font-size: 50px;
    transition: all ease-in-out 250ms;
}
.box li a:hover{
    color:#b9b9b9;
}