<section appAddDiv [Parameter]="parameter"></section>

<section id="card63">
    
    <div class="box">
        <img class="box-img" src="https://images.pexels.com/photos/2086199/pexels-photo-2086199.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
        <h1>DarkCode</h1>
        <h5>Web Developer - Web Designer</h5>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto dolores laborum cumque odio aspernatur in dolore perferendis ducimus minima ratione?</p>
        <ul>
           <li>
               <a href="">
                   <fa-icon [icon]="faFacebookSquare"></fa-icon>
               </a>
           </li>
           <li>
               <a href="">
                   <fa-icon [icon]="faTwitterSquare"></fa-icon>
               </a>
           </li>
           <li>
               <a href="">
                   <fa-icon [icon]="faGooglePlusSquare"></fa-icon>
               </a>
           </li>
             
        </ul>
    </div>

</section>