
#card41{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    background: #ccc;
}

.card2{
    position: absolute;
    width: 400px;
    height: 500px;
    transform-style: preserve-3d;
    transform:perspective(500px)
}

.card2 .front, .card2 .back
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    box-shadow: 0 10px 20px rgba(0,0,0,.5);
}

.card2 .front{
    background: url(../../../assets/img/slider2.jpg);
    background-size: cover;
}
.card2 .back{
    background: url(../../../assets/img/slider3.jpg);
    background-size: cover;
    transform: rotateY(180deg);
}