<section appAddDiv [Parameter]="parameter"></section>
<section RotateYCard  id="card41" >
       
<div    id="myCard"  class="card2">
    <div class="front"></div>
    <div class="back"></div>


</div>
</section>