<section appAddDiv [Parameter]="parameter"></section>

<section id="card53">
     
    <div class="container2">
        <div class="card2">
            <div class="imgBox">
                <img src="../../../assets/img/slider2.jpg" alt="">
            </div>
            <div class="contentBox">
                <div class="content">
                    <h2>Responsive Card</h2>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas accusamus eos nisi placeat cupiditate eveniet nihil soluta, reiciendis quam tempora dicta? Excepturi, similique ullam.
                    </p>
                    <a href="">Read More</a>
                </div>
            </div>
        </div>


        <div class="card2">
            <div class="imgBox">
                <img src="../../../assets/img/slider1.jpg" alt="">
            </div>
            <div class="contentBox">
                <div class="content">
                    <h2>Responsive Card</h2>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas accusamus eos nisi placeat cupiditate eveniet nihil soluta, reiciendis quam tempora dicta? Excepturi, similique ullam.
                    </p>
                    <a href="">Read More</a>
                </div>
            </div>
        </div>


        <div class="card2">
            <div class="imgBox">
                <img src="../../../assets/img/slider3.jpg" alt="">
            </div>
            <div class="contentBox">
                <div class="content">
                    <h2>Responsive Card</h2>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas accusamus eos nisi placeat cupiditate eveniet nihil soluta, reiciendis quam tempora dicta? Excepturi, similique ullam.
                    </p>
                    <a href="">Read More</a>
                </div>
            </div>
        </div>


        <div class="card2">
            <div class="imgBox">
                <img src="../../../assets/img/slider4.jpg" alt="">
            </div>
            <div class="contentBox">
                <div class="content">
                    <h2>Responsive Card</h2>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas accusamus eos nisi placeat cupiditate eveniet nihil soluta, reiciendis quam tempora dicta? Excepturi, similique ullam.
                    </p>
                    <a href="">Read More</a>
                </div>
            </div>
        </div>
    </div>

</section>