
<section appAddDiv [Parameter]="parameter"></section>
<section id="card17">
    
    <section>
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="imageBox">
                            <img src="../../assets/img/dan.jpg" alt="" class="img-responsive">
                            <h3>Someone Famous</h3>
                            <ul>
                                <li><a href="#"><fa-icon [icon]="faFacebook"></fa-icon></a></li>
                                <li><a href="#"><fa-icon [icon]="faTwitter"></fa-icon></a></li>
                                <li><a href="#"><fa-icon [icon]="faGooglePlus"></fa-icon></a></li>
                                <li><a href="#"><fa-icon [icon]="faInstagram"></fa-icon></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6">
                            <div class="imageBox">
                                <img src="../../assets/img/emme.jpg" alt="" class="img-responsive">
                                <h3>Someone Famous</h3>
                                <ul>
                                        <li><a href="#"><fa-icon [icon]="faFacebook"></fa-icon></a></li>
                                        <li><a href="#"><fa-icon [icon]="faTwitter"></fa-icon></a></li>
                                        <li><a href="#"><fa-icon [icon]="faGooglePlus"></fa-icon></a></li>
                                        <li><a href="#"><fa-icon [icon]="faInstagram"></fa-icon></a></li>
                                    </ul>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-6">
                                <div class="imageBox">
                                    <img src="../../assets/img/luke.jpg" alt="" class="img-responsive">
                                    <h3>Someone Famous</h3>
                                    <ul>
                                        <li><a href="#"><fa-icon [icon]="faFacebook"></fa-icon></a></li>
                                        <li><a href="#"><fa-icon [icon]="faTwitter"></fa-icon></a></li>
                                        <li><a href="#"><fa-icon [icon]="faGooglePlus"></fa-icon></a></li>
                                        <li><a href="#"><fa-icon [icon]="faInstagram"></fa-icon></a></li>
                                        </ul>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-6">
                                    <div class="imageBox">
                                        <img src="../../assets/img/tucci.jpg" alt="" class="img-responsive">
                                        <h3>Someone Famous</h3>
                                        <ul>
                                         <li><a href="#"><fa-icon [icon]="faFacebook"></fa-icon></a></li>
                                        <li><a href="#"><fa-icon [icon]="faTwitter"></fa-icon></a></li>
                                        <li><a href="#"><fa-icon [icon]="faGooglePlus"></fa-icon></a></li>
                                        <li><a href="#"><fa-icon [icon]="faInstagram"></fa-icon></a></li>
                                            </ul>
                                    </div>
                                </div>
                </div>
            </div>
        </div>
    </section>



</section>