
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
    min-height: 100vh;
}
.container2
{
    position: relative;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
}

.container2 .card2
{
    position: relative;
    height: 250px;
    background: #fff;
    display: flex;
    width: 45%;
    margin: 30px 0;
}
.container2 .card2 .imgBox
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: .5s ease-in-out;
}
.container2 .card2:hover .imgBox
{
    width: 150px;
    height: 150px;
    left: -75px;
    top: calc(50% - 75px);
    transition: .5s ease-in-out;
    background: #ff0057;
}
/*data-text attr anlama noktasında güzel bir örnek*/
.container2 .card2 .imgBox:before
{
    /*attr icindeki veriyi alıyor ve onu işliyor*/
    content: attr(data-text);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 6em;
    color: rgba(255,255,255,.05);
    font-weight: 700;
}
.container2 .card2 .imgBox img
{
    max-width: 100px;
    transition: .5s ease-in-out;
}
.container2 .card2:hover .imgBox img
{
    max-width: 75px;
     
}
.container2 .card2 .content
{
    position: absolute;
    right: 0;
    width: calc(100% - 75px);
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container2 .card2 .content h3
{
    margin-bottom: 5px;
    font-size: 24px;
}
.container2 .card2 .content a
{
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background: #333;
    text-decoration: none;
    color: #fff;
}
@media (max-width: 992px)
{
    .container2
    {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .container2 .card2
    {
        width: 400px;
    }
}
@media (max-width: 768px)
{
    .container2 .card2
    {
       max-width: 300px;
       flex-direction: column;
       height: auto;
    }

    .container2 .card2 .imgBox
    {
        position: relative;
    }
    .container2 .card2 .imgBox,
    .container2 .card2:hover .imgBox
    {
        width: 100%;
        height: 200px;
        left: 0;
    }
    .container2 .card2 .imgBox img,
    .container2 .card2:hover .imgBox img
    {
        max-width: 100px;
    }
    
    .container2 .card2 .content
    {
        position: relative;
        width: 100%;
    }

}