
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.card2{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
  min-height: 400px;
}

.card2 .front{

    width: 100%;
    height: 100%;
    background: #2196f3;
    padding: 30px;
    box-sizing: border-box;
    transition: .5s;
    transform-origin: right;
}
.location{
    font-weight: bold;
    width: 50%;
    text-align: left;
    float: left;
    color: #fff;
}

.more{
    width: 50%;
    text-align: right;
    cursor: pointer;
    float: right;
    font-size: 24px;
    color: #fff;
    display: block;
}

.weather{
    padding: 50px 0 20px;
    text-align: center;
}

.weather .fas{
    font-size: 80px;
    color: #fff;
}

.weather h1{

    margin: 0;
    padding: 0;
    font-size: 56px;
    color: #fff;
    line-height: 26px;
}

.weather h1 span{
    font-size: 20px;
}
.forecast{
    margin: 0;
    padding: 0;
}

.forecast li{
    padding: 10px 0;
    border-bottom: 2px solid #fff;
    display: flex;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
}

.forecast li:last-child{
    border-bottom: none;
}

.forecast li .day{
    width: 50%;
}

.forecast li .temparature
{
    width: 50%;
    text-align: right;
}

.card2 .back
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 30px;
    background: #ff2877;
    box-sizing: border-box;
    transform-origin: left;
    transition: .5s;
    transform: translateX(100%) rotateY(90deg);
}

.card2 .back.active
{
    transform: translateX(0) rotateY(0deg);
}
.card2 .front.active{
    transform: translateX(0) rotateY(0deg);

}

.card2 .front{
    transform: translateX(-100%) rotateY(90deg);

}
.go-back{
    font-size: 24px;
    color: #fff;
    text-align: right;
}

.go-back .fa{
    cursor: pointer;
}