<section appAddDiv [Parameter]="parameter"></section>
 
<section  id="card45">
    
        <div class="swiper-container" >
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="card2">
                            <div class="sliderText">
                                <h3>Slide One</h3>
                            </div>
                            <div class="content">
                                <p>
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et, veritatis. Assumenda
                                    blanditiis ab
                                    sapiente voluptatem inventore. Amet qui quod
                                </p>
                                <a href="">Read More</a>
                            </div>
                        </div>
                    </div>
        
        
                    <div class="swiper-slide">
                            <div class="card2">
                                <div class="sliderText">
                                    <h3>Slide Two</h3>
                                </div>
                                <div class="content">
                                    <p>
                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et, veritatis. Assumenda
                                        blanditiis ab
                                        sapiente voluptatem inventore. Amet qui quod
                                    </p>
                                    <a href="">Read More</a>
                                </div>
                            </div>
                        </div>
        
        
                        <div class="swiper-slide">
                                <div class="card2">
                                    <div class="sliderText">
                                        <h3>Slide Three</h3>
                                    </div>
                                    <div class="content">
                                        <p>
                                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et, veritatis. Assumenda
                                            blanditiis ab
                                            sapiente voluptatem inventore. Amet qui quod
                                        </p>
                                        <a href="">Read More</a>
                                    </div>
                                </div>
                            </div>
        
        
                            <div class="swiper-slide">
                                    <div class="card2">
                                        <div class="sliderText">
                                            <h3>Slide Four</h3>
                                        </div>
                                        <div class="content">
                                            <p>
                                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et, veritatis. Assumenda
                                                blanditiis ab
                                                sapiente voluptatem inventore. Amet qui quod
                                            </p>
                                            <a href="">Read More</a>
                                        </div>
                                    </div>
                                </div>
        
        
                                <div class="swiper-slide">
                                        <div class="card2">
                                            <div class="sliderText">
                                                <h3>Slide Five</h3>
                                            </div>
                                            <div class="content">
                                                <p>
                                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et, veritatis. Assumenda
                                                    blanditiis ab
                                                    sapiente voluptatem inventore. Amet qui quod
                                                </p>
                                                <a href="">Read More</a>
                                            </div>
                                        </div>
                                    </div>
        
        
                                    <div class="swiper-slide">
                                            <div class="card2">
                                                <div class="sliderText">
                                                    <h3>Slide Six</h3>
                                                </div>
                                                <div class="content">
                                                    <p>
                                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et, veritatis. Assumenda
                                                        blanditiis ab
                                                        sapiente voluptatem inventore. Amet qui quod
                                                    </p>
                                                    <a href="">Read More</a>
                                                </div>
                                            </div>
                                        </div>
                </div>
            </div>
        
</section>