
<section appAddDiv [Parameter]="parameter"></section>

<section id="card24">


  <div class="container">
    <div class="box">
        <div class="icon">01</div>
        <div class="content">
            <h3> Service Name</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo beatae a recusandae quam?</p>
            <a href="">Read More</a>
        </div>
    </div>


    <div class="box">
        <div class="icon">02</div>
        <div class="content">
            <h3> Service Name</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo beatae a recusandae quam?</p>
            <a href="">Read More</a>
        </div>
    </div>



    <div class="box">
        <div class="icon">03</div>
        <div class="content">
            <h3> Service Name</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo beatae a recusandae quam?</p>
            <a href="">Read More</a>
        </div>
    </div>

</div>
</section>