
<section appAddDiv [Parameter]="parameter"></section>
<section id="card18">
    <div class="card2">
        <div class="imgBox">
            <img src="../../assets/img/avatar2.png" alt="">
        </div>
        <div class="details">
            <div class="content">
                <h3>Someone Famous <br><span>CEO And Founder</span></h3>
                <ul>
                    <li><a href=""><fa-icon [icon]="faFacebook"></fa-icon></a></li>
                    <li><a href=""><fa-icon [icon]="faTwitter"></fa-icon></a></li>
                    <li><a href=""><fa-icon [icon]="faGooglePlus"></fa-icon></a></li>
                    <li><a href=""><fa-icon [icon]="faLinkedinIn"></fa-icon></a></li>
                    <li><a href=""><fa-icon [icon]="faInstagram"></fa-icon></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>