<section appAddDiv [Parameter]="parameter"></section>

<section id="card3">
<div class="container2">
        <div class="card2">
            <div class="box">
                <div class="percent">
                  <svg>
                      <circle cx="70" cy="70" r="70"></circle>
                      <circle cx="70" cy="70" r="70"></circle>
                  </svg>
                  <div class="number">
                      <h2>90<span>%</span></h2>
                  </div>
                </div>
                <h2 class="text"> Html</h2>
            </div>
        </div>

        <div class="card2">
                <div class="box">
                    <div class="percent">
                      <svg>
                          <circle cx="70" cy="70" r="70"></circle>
                          <circle cx="70" cy="70" r="70"></circle>
                      </svg>
                      <div class="number">
                          <h2>85<span>%</span></h2>
                      </div>
                    </div>
                    <h2 class="text"> Css</h2>
                </div>
            </div>

            <div class="card2">
                    <div class="box">
                        <div class="percent">
                          <svg>
                              <circle cx="70" cy="70" r="70"></circle>
                              <circle cx="70" cy="70" r="70"></circle>
                          </svg>
                          <div class="number">
                              <h2>70<span>%</span></h2>
                          </div>
                        </div>
                        <h2 class="text"> JavaScript</h2>
                    </div>
                </div>
    </div>
</section>