
<section appAddDiv [Parameter]="parameter"></section>
<section id="card15">

    
        <div class="profile">
                <img src="../../assets/img/avatar3.jpg" alt="">
                <p  class="view" (click)="addActive()">View Profile</p>
                <!-- <button class="view" ((click)="addActive()") [class.active]="active">View Profile</button> -->
                <div class="details" [class.active]="active">
                    <h2>Someone Famous <br><span>Web Designer</span></h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam</p>
                    
                    <h3>Follow</h3>
                    <ul>
                        <li><a href="#"><fa-icon class="fab" [icon]="faFacebook"></fa-icon></a></li>
                        <li><a href="#"><fa-icon class="fab" [icon]="faTwitter"></fa-icon></a></li>
                        <li><a href="#"><fa-icon class="fab" [icon]="faGooglePlus"></fa-icon></a></li>
                    </ul>
        
                    <div class="close2" (click)="removeActive()" ><fa-icon class="fas" [icon]="faGgCircle"></fa-icon></div>
                </div>
            </div>
        
        
</section>