<section appAddDiv [Parameter]="parameter" ></section>

<section id="card55">
    <div class="container2">
        <div class="card2">
            <div class="imgBox" data-text="Design">
                <img src="../../../assets/img/sketch.png" alt="">
            </div>
            <div class="content">
                <div>
                    <h3>Design</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias aperiam est aliquid neque quia dolorem nostrum ullam at.</p>
                    <a href="">Read More</a>
                </div>
            </div>
        </div>


        <div class="card2">
            <div class="imgBox" data-text="Code">
                <img src="../../../assets/img/data.png" alt="">
            </div>
            <div class="content">
                <div>
                    <h3>Code</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias aperiam est aliquid neque quia dolorem nostrum ullam at.</p>
                    <a href="">Read More</a>
                </div>
            </div>
        </div>


        <div class="card2">
            <div class="imgBox" data-text="Launch">
                <img src="../../../assets/img/startup.png" alt="">
            </div>
            <div class="content">
                <div>
                    <h3>Launch</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias aperiam est aliquid neque quia dolorem nostrum ullam at.</p>
                    <a href="">Read More</a>
                </div>
            </div>
        </div>


        <div class="card2">
            <div class="imgBox" data-text="Earn">
                <img src="../../../assets/img/money.png" alt="">
            </div>
            <div class="content">
                <div>
                    <h3>Earn</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias aperiam est aliquid neque quia dolorem nostrum ullam at.</p>
                    <a href="">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>