<section appAddDiv [Parameter]="parameter"></section>
<section id="card49">
    <div class="container2">
        <div class="box">
            <h2>01</h2>
            <h3>Service One</h3>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur incidunt laboriosam quis suscipit omnis.
            </p>
        </div>


        <div class="box">
            <h2>02</h2>
            <h3>Service Two</h3>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur incidunt laboriosam quis suscipit omnis.
            </p>
        </div>


        <div class="box">
            <h2>03</h2>
            <h3>Service Three</h3>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur incidunt laboriosam quis suscipit omnis.
            </p>
        </div>
    </div>
</section>