<section appAddDiv [Parameter]="parameter"></section>

<section id="card57">
    <div class="container2">
        <div class="card2">
            <img src="../../../assets/img/slider1.jpg" alt="">
            <h4>Natural Beautiy</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit vitae quam harum hic quae?</p>
        <a href="">Read More</a>
        </div>


        <div class="card2">
            <img src="../../../assets/img/slider2.jpg" alt="">
            <h4>Natural Beautiy</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit vitae quam harum hic quae?</p>
        <a href="">Read More</a>
        </div>


        <div class="card2">
            <img src="../../../assets/img/slider5.jpg" alt="">
            <h4>Natural Beautiy</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit vitae quam harum hic quae?</p>
        <a href="">Read More</a>
        </div>
    </div>

</section>