

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container2
{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 1000px;
}
.container2 .box
{
    position: relative;
    width: 300px;
    height: 400px;
    overflow: hidden;
}

.container2 .box .imgBox
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 1.5s ease-in-out;
}

.container2 .box:hover .imgBox
{
    transform: translateY(-120%);
}
.container2 .box .imgBox img
{
    position: absolute;
    top: 0;
    left: 0;
    /* width: 100%; */
    height: 100%;
    object-fit: contain;
}

.container2 .box .layer
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 1.5s ease-in-out;
}
.container2 .box .layer.layer1
{
    background: #0096ff;
    transform: translateY(100%);
}
.container2 .box:hover .layer.layer1
{
   
    transform: translateY(-100%);
}

.container2 .box .layer.layer2
{
    background: #90ff00;
    transform: translateY(200%);
}
.container2 .box:hover .layer.layer2
{
   
    transform: translateY(-100%);
}

.container2 .box .content
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 1.5s ease-in-out;
    background: #111;
    color: #fff;
    transform: translateY(300%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
.container2 .box:hover .content
{
    transform: translateY(0);
}
.container2 .box .content div
{
    transition: 2s ease-in-out;
    transform: translateY(400%);
}
.container2 .box:hover .content div
{ 
    transform: translateY(0);
}