<section appAddDiv [Parameter]="parameter"></section>
<section id="card44">
        <div class="box">
                <div class="content">
                 <div>
                        <h2>Image Hover Effects</h2>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus, rem.
                    </p>
                    <a href="">Read More</a>
                 </div>
                </div>
                <img src="../../../assets/img/slider5.jpg" alt="">
            </div>
</section>