
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: sans-serif !important;
    background: #262626;
}

.testimonials2{

     margin: 200px auto 100px;
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
     grid-gap: 20px;
}
.testimonials2 .card2{

    position: relative;
    width: 350px;
    margin: 0 auto;
    background: #333;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 10px 40px rgba(0,0,0,.5);
    overflow: hidden;
}

.testimonials2 .card2 .layer{
    position: absolute;
    top: calc(100% - 2px);
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#03a9f4, #e91ee3) ;
    z-index: 1;
    transition: .5s;
}
.testimonials2 .card2:hover .layer{

    top: 0;
}
.testimonials2 .card2 .content{

    position: relative;
    z-index: 2;
}

.testimonials2 .card2 .content p{

    color:#fff;
    line-height: 24px;
    font-size: 18px;

}
.testimonials2 .card2 .content .image{

    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid #fff;
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
}
.testimonials2 .card2 .content h2{


    font-size: 18px;
    color: #fff;
}

.testimonials2 .card2 .content  h2 span{

    font-size: 14px;
    color:#03a9f4;
    transition: .5s;
}
.testimonials2 .card2:hover .content  h2 span{

    color:#fff;
}