<section appAddDiv [Parameter]="parameter"></section>

<section id="card19">
        
    <div class="card2">
        <div class="face front">
            <h2>Front</h2>
        </div>

        <div class="face back">
            <h2>Back</h2>
        </div>
    </div>

</section>