
<section appAddDiv [Parameter]="parameter"></section>
<section id="card50">
    <div class="container2">
        <div class="card2">
            <div>
                <h2>Design</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae esse vero quasi voluptatem, doloribus qui?
                </p>
                <a href="">Read More</a>
            </div>
        </div>


        <div class="card2">
            <div>
                <h2>Code</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae esse vero quasi voluptatem, doloribus qui?
                </p>
                <a href="">Read More</a>
            </div>
        </div>


        <div class="card2">
            <div>
                <h2>Launch</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae esse vero quasi voluptatem, doloribus qui?
                </p>
                <a href="">Read More</a>
            </div>
        </div>
    </div>
</section>