

#card50{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    font-family: sans-serif; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container2
{
    width: 1050px;
    display: flex;
    justify-content: space-between;
}

.container2 .card2
{
    position: relative;
    width: 320px;
    padding: 40px;
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
    overflow: hidden;
}
.container2 .card2:before
{
    content: '';
    position: absolute;
    left: 0;
    bottom: calc(-100% + 4px);
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 1;
    transition: .5s ease-in-out;
}
.container2 .card2:hover:before
{
    bottom:0;
}

.container2 .card2:nth-child(1):before
{
    background: #ff56ac;
}

.container2 .card2:nth-child(2):before
{
    background: #1bcaff;
}

.container2 .card2:nth-child(3):before
{
    background: #e33cff;
}

.container2 .card2 div{
    position: relative;
    z-index: 2;
}
.container2 .card2 div h2{

    margin-bottom: 10px;
    font-size: 30px;
    transition: .5s;
    color: #777;
}

.container2 .card2 div p{

   font-size: 18px;
   transition: .5s;
   color: #777;
}


.container2 .card2 div a{

    margin-top: 20px;
    font-size: 14px;
    display: inline-block;
    text-decoration: none;
    transition: .5s;
    background: #fff;
    color: #777;
    padding: 6px 10px;
    font-weight: 600;
    box-shadow: 0 2px 20px rgba(0,0,0,.05);
}
.container2 .card2:hover div p,
.container2 .card2:hover div h2{
   
   color: #fff;
    }
