body{
    margin: 0;
    padding: 0 ;
    font-family: sans-serif !important;
}

.card2{

    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    height: 400px;
    background: #262626;
}

.card2 .imgBox{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: bottom;
    transition: .5s;
    transform: translateY(0) rotateX(0deg);
}
.card2:hover .imgBox{
    transform: translateY(-100%) rotateX(90deg);
}

/*ben ekledim*/
.card2 .imgBox img{
    width: 100%;
    height: 100%;
}

.card2 .details{  
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #262626;
    transform-origin: top;
    transition: .5s;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    transform: translateY(100%) rotateX(-90deg);
}


.card2:hover .details{
    transform: translateY(0) rotateX(0deg);
}
.card2 .details .content{

    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
}

.card2 .details .content h3{

    color: #fff;
    text-transform: uppercase;
}

.card2 .details .content h3 span{

    font-size: 14px;
    color: #ff0;
    text-transform: initial;
}

.card2 .details .content ul{

    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    padding: 20px 40px;
    box-sizing: border-box;
}

.card2 .details .content ul li{

    list-style: none;
    width: 20%;

}

.card2 .details .content ul li a{

    width: 36px;
    height: 36px;
    color: #262626;
    background: #fff;
    display: block;
    text-align: center;
    line-height: 36px;
    transition: .5s;
}

.card2 .details .content ul li a:hover{

    color: #fff;
    background: #00bcd4;
}