
#card14{
    margin: 0;
    padding: 0;
    font-family:  sans-serif !important;
    
   
}


 

.card2{

   position: relative;
     /* top: 50%;  */
    left:20%;
      
    width: 600px;
    background: rgba(255,255,255,0.5);
    border-radius:10px;
    overflow: hidden;
    transition: .5s;
   
}

 .card2:hover
 {
     background: #fff;
     box-shadow: 0 0 0 10px rgba(255,255,255,0.2);
 }

  .card2:before{
      content: '';
      position: absolute;
      bottom:-70%;
      left: -120%;
      width: 100%;
      height: 100%;
      background: #7300ab;
      transition: .5s;
      z-index: -1;
      box-sizing: border-box;
      border-top: 5px solid #430064;
      
      transform: skewX(-5deg);
  }

  .card2:hover:before{

    left: -50%;
    
  }


  .card2:after{
    content: '';
    position: absolute;
    bottom:-70%;
    right: -120%;
    width: 100%;
    height: 100%;
    background: #ff0;
    transition: .5s;
    z-index: -1;
    box-sizing: border-box;
    border-top: 5px solid #ef9b0f;
    transform: skewX(-5deg);
}

.card2:hover:after{

  right: -50%;
}

  .card2 h2{
      
    width: 100%;
    margin: 0;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    transition: .5s;
 }

 .card2:hover h2{

    background: #ff0057;
    color: #fff;
 }

 .card2 .match-details
 {
     position: relative;
 }
 .date{
     margin: 20px 0 0;
 }
#versus{
    width: 50px;
    height: 50px;
    font-size: 24px;
    border-radius: 50%;
    background: #e91e63;
    color: #fff;
    text-align: center;
    line-height: 50px;
    margin: 20px auto;
}
 .card2 .team1{

    width: 200px;
    float: left;
    padding: 10px 20px 20px;
    box-sizing: border-box;
    text-align: center;
 }

 .card2 .team2{

    width: 200px;
    float: left;
    padding: 10px 20px 20px;
    box-sizing: border-box;
    text-align: center;
 }

 .card2 .team1 img, .card2 .team2 img{

    width: 90%;
 }

 .card2 .details{
     width: 200px;
     min-height: 200px;
     float: left;
     text-align: center;
 }

 .card2 h3.team-name{

    padding: 15px 0 0;
    margin-bottom: 15px;
    text-align: right;
     transition: .5s;
 }

 .card2 .team1 h3.team-name{
     text-align: left;
 }
 