
<section appAddDiv [Parameter]="parameter"></section>

<section id="card14">
    
  
<div class="card2">
    <h2>Upcoming Match</h2>
    <div class="match-details">
        <div class="team1">
            <img src="../../assets/img/gs.png" alt="">
            <h3 class="team-name">GS</h3>
        </div>

        <div class="details">
            <h3 class="date">April 10, 20:00 IST</h3>
            <h1 id="versus">VS</h1>
            <h4 id="venue">Şükrü Saraçoğlu Stadı</h4>
        </div>

        <div class="team2">
            <img src="../../assets/img/fenerbahce.png" alt="">
            <h3 class="team-name">FB</h3>
        </div>
    </div>
</div>      
</section>