<section appAddDiv [Parameter]="parameter"></section>

<section id="card66">
    <div class="card2 middle">
        <div class="top-section">
            <img src="https://images.pexels.com/photos/614810/pexels-photo-614810.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
            <div class="menu-icon">
                <span class="s1"></span>
                <span class="s2"></span>
            </div>
            <div class="name">
                Dean <br>
                <span>Nunez</span>
            </div>
        </div>

        <div class="info-section">
            <h2>
                About
                <div class="b2"></div>
                <p class="justify mt-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores, accusamus dicta perferendis laudantium tempore mollitia.</p>
            </h2>
            <h2>
                Contact
                <div class="b2"></div>
            </h2>
            <div class="s-m">
                <a href=""><fa-icon [icon]="faFacebookF"></fa-icon></a>
                <a href=""><fa-icon [icon]="faTwitter"></fa-icon></a>
                <a href=""><fa-icon [icon]="faInstagram"></fa-icon></a>
                <a href=""><fa-icon [icon]="faYoutube"></fa-icon></a>
                <a href=""><fa-icon [icon]="faWhatsapp"></fa-icon></a>
            </div>
        </div>

    </div>
    
</section>