
<section appAddDiv [Parameter]="parameter"></section>
<section id="card27">

        <div class="card2">
                <div class="front active">
                    <div class="location">New Delhi</div>
                    <div (click)="more()" [class.active]="isFrontActive" class="more"><fa-icon class="fas" [icon]="faInfoCircle"></fa-icon></div>
        
                    <div class="weather">
                       <fa-icon class="fas" [icon]="faCloud"></fa-icon>
                        <h1>8 <sup>o</sup><br><span>Today</span></h1>
                    </div>
                    <ul class="forecast">
                        <li>
                            <div class="day">Sunday</div>
                            <div class="temparature">   <fa-icon class="fas" [icon]="faCloud"></fa-icon>9<sup>o</sup></div>
                        </li>
        
                        <li>
                            <div class="day">Monday</div>
                            <div class="temparature"> <fa-icon class="fas" [icon]="faTint"></fa-icon> 6<sup>o</sup></div>
                        </li>
        
                        <li>
                            <div class="day">Sunday</div>
                            <div class="temparature"> <fa-icon class="fas" [icon]="faSnowflake"></fa-icon> 2<sup>o</sup></div>
                        </li>
        
                    </ul>
                </div>
                <div class="back" [class.active]="isBackActive">
                    <div class="go-back" (click)="more()">
                     <fa-icon class="fa" [icon]="faArrowCircleLeft"></fa-icon>
                    </div>
                    <ul class="forecast">
                        <li>
                            <div class="day">Yesterday</div>
                            <div class="temparature"> <fa-icon class="fas" [icon]="faSnowflake"></fa-icon> 3<sup>o</sup></div>
                        </li>
        
                        <li>
                            <div class="day">Today</div>
                            <div class="temparature">   <fa-icon class="fas" [icon]="faCloud"></fa-icon> 8<sup>o</sup></div>
                        </li>
        
                        <li>
                            <div class="day">Tomorrow</div>
                            <div class="temparature"> <fa-icon class="fas" [icon]="faTint"></fa-icon> 6<sup>o</sup></div>
                        </li>
                        <li>
                            <div class="day">Sunday</div>
                            <div class="temparature"> <fa-icon class="fas" [icon]="faSnowflake"></fa-icon> 2<sup>o</sup></div>
                        </li>
                        <li>
                            <div class="day">Monday</div>
                            <div class="temparature"> <fa-icon class="fas" [icon]="faTint"></fa-icon> 6<sup>o</sup></div>
                        </li>
        
                        <li>
                            <div class="day">Tuesday</div>
                            <div class="temparature"> <fa-icon class="fas" [icon]="faSnowflake"></fa-icon> 2<sup>o</sup></div>
                        </li>
        
                        <li>
                            <div class="day">Wednesday</div>
                            <div class="temparature"> <fa-icon class="fas" [icon]="faTint"></fa-icon> 4<sup>o</sup></div>
                        </li>
                       
                    </ul>
                </div>
            </div>
        
</section>