

#card2{
 
    padding: 180px 0 0;
    width: 100%;
    height: 70vh;
    background: #ccc;
}

.box{

    position: relative;
    height: 400px;
    background: #262626;
    border-radius: 20px;
    box-shadow: 0 20px 50px rgba(0,0,0,.5);
    overflow: hidden;
}

.box::before
{
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.1);
    transform: skewX(-5deg);
     
}

.teamBox{
    position: relative;
    width: 50%;
    height: 100%;
    float: left;
    padding: 40px 20px;
    z-index: 1;

}

.teamLogo{

    position: relative;
    width: 150px;
    margin: 0 auto;
   

}

.teamLogo img{
    width: 100%;
    height: 100%;
}

.teamStatus h2{

    color: #ff0;
    font-weight: 700;
}

.goal ul{
    margin: 0;
    padding: 0;
}

.goal ul li{
    list-style: none;
    color: #fff;
}

.score{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.score h1{
    margin: 0;
    padding: 0;
    font-size: 60px;
    font-weight: 700;
    color: #fff;
}