
<section appAddDiv [Parameter]="parameter"></section>
<section id="card22">
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2-offset-2 col-sm-8">
                        <div class="box">
    
                            <div class="score">
                                <h1>3 - 2</h1>
                            </div>
    
                            <div class="teamBox team1 text-center">
                                <div class="teamLogo">
                                    <img src="../../assets/img/gs.png" class="img-responsive" alt="">
                                </div>
                                <div class="teamStatus"><h2>GS <span>(win)</span></h2></div>
                                <div class="goal">
                                    <ul>
                                        <li>Kazım (2') </li>
                                        <li>Kazım (22') </li>
                                        <li>Kazım (32') </li>
                                    </ul>
                                </div>
                            </div>
    
    
                            
                            <div class="teamBox team2 text-center">
                                    <div class="teamLogo">
                                        <img src="../../assets/img/fenerbahce.png" class="img-responsive" alt="">
                                    </div>
                                    <div class="teamStatus"><h2>FB <span>(loss)</span></h2></div>
                                    <div class="goal">
                                        <ul>
                                            <li>Kazım (2') </li>
                                            <li>Kazım (22') </li>
                                           
                                        </ul>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>