
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: sans-serif;
}

#card52{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    background: #00d0ff;
}

.container2
{
    width: 1100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 15px;
    margin: 0 auto;
}
.container2 .card2
{
    position: relative;
    width: 300px;
    height: 400px;
    margin: 0 auto;
    background: #fff;
    transition: .5s;
}
.container2 .card2:hover
{
    box-shadow: 0 30px 50px rgba(0,0,0,.2);
}
.container2 .card2 .face
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center ;
}
.container2 .card2 .face.face1
{
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    background: #fff;
    color: #013d4a;
}
.container2 .card2 .face.face1 h2
{
    margin-top: 70px;
  
}
.container2 .card2 .face.face1 a
{
    display: inline-block;
    padding: 5px 10px;
    margin-top: 20px;
    text-decoration: none;
    color: #013d4a;
    border: 2px solid #013d4a;
    transition: .5s;
}
.container2 .card2 .face.face1 a:hover
{
    color: #fff;
    background: #013d4a;
}
.container2 .card2 .face.face2
{
    background: #013d4a;
    transition: .5s;
}
.container2 .card2:hover .face.face2
{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    background: transparent;
    border: 2px solid #013d4a;
}
.container2 .card2 .face.face2 h2
{
    margin: 0;
    padding: 0;
    font-size: 10em;
    color: #fff;
    transition: .5s;
}
.container2 .card2:hover .face.face2 h2
{
    color: #013d4a;
    font-size: 2em;
}