<section appAddDiv [Parameter]="parameter"></section>
<section id="card52">
    <div class="container2">
        <div class="card2">
            <div class="face face1">
                <div class="content">
                    <h2>Service One</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit ut esse nulla incidunt nesciunt perspiciatis dolorum animi! Debitis?</p>
                    <a href="">Read More</a>
                </div>
            </div>
            <div class="face face2">
                <h2>01</h2>
            </div>
        </div>


        <div class="card2">
            <div class="face face1">
                <div class="content">
                    <h2>Service Two</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit ut esse nulla incidunt nesciunt perspiciatis dolorum animi! Debitis?</p>
                    <a href="">Read More</a>
                </div>
            </div>
            <div class="face face2">
                <h2>02</h2>
            </div>
        </div>


        <div class="card2">
            <div class="face face1">
                <div class="content">
                    <h2>Service Three</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit ut esse nulla incidunt nesciunt perspiciatis dolorum animi! Debitis?</p>
                    <a href="">Read More</a>
                </div>
            </div>
            <div class="face face2">
                <h2>03</h2>
            </div>
        </div>
    </div>
    
</section>