
body
{
    margin: 0;
    padding: 0;
    background: #ffeaa7;
}

.card
{
    width:340px ;
    background: #f1f1f1;
    overflow: hidden;
    font-family: sans-serif;
    box-shadow: 0 0 20px #00000070;
}
.middle
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.top-section
{
    position: relative;
}
.top-section img
{
    width: 100%;
}
.menu-icon
{
    position: absolute;
    width: 22px;
    left: 20px;
    top: 20px;
    cursor: pointer;
}
.menu-icon span
{
    width: 100%;
    height: 3px;
    background: #000;
    position: relative;
    display: block;
    margin-bottom: 6px;
    opacity: .5;
    transition: .4s;
}

.menu-icon .s1
{
    left: -5px;
}
.menu-icon .s2
{
    left: 5px;
}

.menu-icon:hover span
{
    left:0;
}
.name
 {
     position: absolute;
     bottom: 20px;
     left: 20px;
     font-size: 40px;
     font-weight: 900;
     opacity: .4;
 }
 .name span{

    text-transform: uppercase;
    font-weight: 600;
 }

 .info-section
 {
     padding: 40px;
     padding-top: 0;
     color: #333;
 }

 h2{
     position: relative;
     font-size: 16px;
 }
 .border
 {
     width: 30px;
     height: 3px;
     background: #778beb;
     position: relative;
     left: 0;
     bottom: -6px;
 }
 p{
     text-align: justify;
     font-size: 14px;
 }

 .s-m
 {
     text-align: center;
     margin-top: 20px;
 }
 .s-m a{
    text-decoration: none;
    font-size: 20px;
    color: #333;
    padding: 0 14px;
    transition: .5s;   
 }

 .s-m a:hover
 {
     color: #778beb;
 }