
<section appAddDiv [Parameter]="parameter"></section>
<section id="card5">
    <div class="container2">
        <div class="card2">
            <div class="face face1">
                <div class="content">
                    <h2>Lorem, ipsum dolor sit amet</h2><p>consectetur adipisicing elit. Itaque iste provident id </p> 

                </div>
            </div>
            <div class="face face2">
                <h2>01</h2>
            </div>
        </div>

        <div class="card2">
                <div class="face face1">
                    <div class="content">
                        <h2>Lorem, ipsum dolor sit amet</h2><p>consectetur adipisicing elit. Itaque iste provident id </p> 
    
                    </div>
                </div>
                <div class="face face2">
                    <h2>02</h2>
                </div>
            </div>

            <div class="card2">
                    <div class="face face1">
                        <div class="content">
                            <h2>Lorem, ipsum dolor sit amet</h2><p>consectetur adipisicing elit. Itaque iste provident id </p> 
        
                        </div>
                    </div>
                    <div class="face face2">
                        <h2>03</h2>
                    </div>
                </div>
    </div>

</section>