
<section appAddDiv [Parameter]="parameter"></section>
<section id="card2">

        <div class="container2">
            <div class="cardd">
                <div class="face face1">

                    <div class="content">
                        <img src="../../assets/img/sketch.png" alt="">
                        <h3>Design</h3>
                    </div>

                </div>
                <div class="face face2">
                    <div class="content">
                       <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident odit debitis fugiat cupiditate maiores atque praesentium nisi eaque ullam temporibus ducimus distinctio quidem, ea commodi harum libero iusto beatae vero?</p>
                        <a href="#">Read More</a>
                    </div>

                </div>
            </div>

            <div class="cardd">
                    <div class="face face1">
    
                        <div class="content">
                            <img src="../../assets/img/startup.png" alt="">
                            <h3>Launch</h3>
                        </div>
    
                    </div>
                    <div class="face face2">
                        <div class="content">
                           <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident odit debitis fugiat cupiditate maiores atque praesentium nisi eaque ullam temporibus ducimus distinctio quidem, ea commodi harum libero iusto beatae vero?</p>
                            <a href="#">Read More</a>
                        </div>
    
                    </div>
                </div>

                <div class="cardd">
                        <div class="face face1">
        
                            <div class="content">
                                <img src="../../assets/img/data.png" alt="">
                                <h3>Code</h3>
                            </div>
        
                        </div>
                        <div class="face face2">
                            <div class="content">
                               <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident odit debitis fugiat cupiditate maiores atque praesentium nisi eaque ullam temporibus ducimus distinctio quidem, ea commodi harum libero iusto beatae vero?</p>
                                <a href="#">Read More</a>
                            </div>
        
                        </div>
                    </div>
        </div>

    </section>
