
*{
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background: #70dea8;
}

.column
{
    width: 25%;
    float: left;
    padding: 0px 10px;
}
.row2::after
{
    content: '';
    display: table;
    clear: both;
}
@media screen and (max-width:992px)
{
    .column
    {
        width: 50%;
        display: block;
        margin-bottom: 20px;
    }
}
@media screen and (max-width:768px)
{
    .column
    {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}
.card2
{
    position: relative;
    top:50px;
    box-shadow: 0 4px 8px  0 rgba(0,0,0,.2);
    max-width: 280px;
    height:  430px;
    background: #fff;
    text-align: center;
    margin: auto;
    border-radius: 40px;
    padding-bottom: 15px;
   
}

.card2 .imgBox
{
    position: relative;
    top:-50px;
    height:200px ;
    width: 100%;
    overflow: hidden;
}
.card2 .imgBox img
{
    height: 100%;
    width: 100%;
    border-top-left-radius:40px;
    border-top-right-radius: 40px;
}

.title
{
    color:grey;
    font-size: 15px;
}

button
{
    border: none; 
    padding: 8px;
    display: inline-block;
    color: #fff;
    background: #000;
    cursor: pointer;
    width: 70%;
    border-radius: 20px;
    font-size: 18px;
    text-align: center;  
}
a{
    text-decoration: none;
    font-size: 22px;
    color: #000;
}
a:hover, button:hover
{
    opacity: .6;
}
h1{
 
    font-size: 23px;
}