#card26{

    position: relative;
   
  
}

.card2{

    position: relative;
    top: 50%;
    left: 40%;
    width: 300px;
    height: 400px;
    background: #fff;
    transform-style: preserve-3d;
    transform:  perspective(2000px);
    box-shadow: inset 300px 0 50px rgba(0,0,0,.5), 0 20px 100px rgba(0,0,0,.5);
    transition: 1s;

}

.card2:hover{
 
    transform: perspective(2000px) rotate(-10deg);
    box-shadow: inset 20px 0 50px rgba(0,0,0,.5), 0 10px 100px rgba(0,0,0,.5);

}

.card2:before
{
    /*kitap görünümü burada yapılıyor*/
    content: '';
    position: absolute;
    top: -5px;
    left: 0;
    width: 100%;
    height: 5px;
    background: #475b02;   
    transform-origin: bottom;
    transform: skewX(-45deg);
}

.card2:after
{
    content: '';
    position: absolute;
    top: 0;
    right: -5px;
    width: 5px;
    height: 100%;
    background: #7EA301;
    transform-origin: left;
    transform: skewY(-45deg);
}

.card2 .imgBox{
    width: 100%;
    height: 100%;
    position: relative;
    transform-origin: left;
    z-index: 1;
    /*kitapın sekmeli bir şekilde açılması icin*/
    transition: 1s cubic-bezier(.15,1.7,.84,.58);
    
}

.card2 .imgBox img{
    height: 100%;
    width: 100%;
}


.card2:hover .imgBox{
  
    transform: rotateY(-135deg);
}

.card2 .details
{
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 20px;
    z-index: -1;
}