
<section appAddDiv [Parameter]="parameter"></section>
<section id="card26">
    <div class="card2">
            <div class="imgBox">
                <img src="../../assets/img/avatar2.png" alt="">
            </div>
            <div class="details">
                <h2>Someone Famous</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga quibusdam labore expedita debitis quae commodi omnis dolorum. Debitis dignissimos sit recusandae! Reiciendis, ipsum.</p>
                
            </div>
        </div>
 </section>