
#card21{

    margin: 0;
    padding: 0;
    background: #262626;
    font-family: sans-serif;
}
.team {
  
    padding: 50px 0;
    height: 80vh;
    box-sizing: border-box;
}

.container2{
    width: 100%;
    margin: 50px auto;
}

.row2{
    position: relative;
    width: 100%;
    box-sizing: border-box;

}
.row2 h1{

    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 48px;
    text-transform: uppercase;
}

.row2 p{
    margin: 20px 0 0;
    color: #fff;
    padding-left: 20px;
    border-left: 5px solid #f00;
}
.mgt50px{
    margin-top: 50px;
}
.row2 .column {

    margin: 0 10px;
    position: relative;
    width: calc(25% - 20px);
    min-height: 250px;
    background: #fff;
    float: left;
    box-sizing: border-box;
    overflow: hidden;

}
 

.row2 .column::before {

    content: '';
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,0,0,1);
    z-index: 1;
    transition: .5s;
    mix-blend-mode: soft-light;

}

.row2 .column:hover::before {

    bottom: 0;

}
.row2 .column .imgBox{

    position: relative;

}

.row2 .column .imgBox img{

    width: 100%;
    transition: 5s;
}
.row2 .column:hover .imgBox img{

    transform: scale(1.5);
}

.row2 .column .details
{
    position: absolute;
    bottom: -100px;
    left: 0;
    padding: 10px;
    box-sizing: border-box;
    background: rgba(0,0,0,.9);
    width: 100%;
    transition: .5s;
    z-index: 2;
}

.row2 .column:hover .details
{
    bottom: 0;
}
.row2 .column .details h3
{
    margin: 0;
    padding: 0;
    color: #fff;
    font-weight: 500;
    text-align: right;
    text-transform: uppercase;
}

.row2 .column .details h3 span
{

    margin:0;
    padding: 0;
    font-size: 14px;
    color: #f00;
    font-weight: 900;
    text-transform: uppercase;
    position: relative;
    top: -6px;
}

.row2 .column .details ul
{
    margin: 0;
    padding: 0;
    display: flex;
    float: right;
}

.row2 .column .details ul li
{
    list-style: none;
}


.row2 .column .details ul li a
{
    color: #fff;
    padding: 0 10px;
}

.row2 .column .details ul li a .fab
{
    transition: 0.5s;
}


.row2 .column .details ul li a:hover .fab
{
    color: #f00;
    transform: rotateY(360deg);
}