<section appAddDiv [Parameter]="parameter"></section>
<section  id="card21">

<section class="team">


        <div class="container2">
            <div class="row2">
                <h1>Our Team</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta distinctio voluptatem architecto deserunt dolore beatae ipsum similique repudiandae aliquam voluptatibus ipsam vel eligendi iste iusto asperiores est, accusamus, doloremque incidunt, quaerat deleniti quisquam explicabo autem veritatis. Rerum voluptates dolore consequatur, nobis harum iusto voluptatibus, delectus aspernatur autem veniam doloremque ratione!
                </p>
            </div>
            <div class="row2 mgt50px">

                <div class="column">
                        <div class="imgBox">
                            <img src="../../assets/img/dan.jpg" alt="">
                        </div>
                        <div class="details">
                            <h3>Member Name <br> <span>CEO and  Founder</span></h3>
                            <ul>
                                <li><a href=""><fa-icon class="fab" [icon]="faFacebook"> </fa-icon></a></li>
                                <li><a href=""><fa-icon class="fab" [icon]="faTwitter"> </fa-icon></a></li>
                                <li><a href=""><fa-icon class="fab" [icon]="faGooglePlusG"> </fa-icon></a></li>
                                <li><a href=""><fa-icon class="fab" [icon]="faInstagram"> </fa-icon></a></li>
                                <li><a href=""><fa-icon class="fab" [icon]="faLinkedinIn"> </fa-icon></a></li>
                               
                            </ul>
                        </div>
                </div>

                <div class="column">
                        <div class="imgBox">
                            <img src="../../assets/img/emme.jpg" alt="">
                        </div>
                        <div class="details">
                            <h3>Member Name <br> <span>CEO and  Founder</span></h3>
                            <ul>
                                    <li><a href=""><fa-icon class="fab" [icon]="faFacebook"> </fa-icon></a></li>
                                    <li><a href=""><fa-icon class="fab" [icon]="faTwitter"> </fa-icon></a></li>
                                    <li><a href=""><fa-icon class="fab" [icon]="faGooglePlusG"> </fa-icon></a></li>
                                    <li><a href=""><fa-icon class="fab" [icon]="faInstagram"> </fa-icon></a></li>
                                    <li><a href=""><fa-icon class="fab" [icon]="faLinkedinIn"> </fa-icon></a></li>
                            </ul>
                        </div>
                </div>

                <div class="column">
                        <div class="imgBox">
                            <img src="../../assets/img/tucci.jpg" alt="">
                        </div>
                        <div class="details">
                            <h3>Member Name <br> <span>CEO and  Founder</span></h3>
                            <ul>
                                    <li><a href=""><fa-icon class="fab" [icon]="faFacebook"> </fa-icon></a></li>
                                    <li><a href=""><fa-icon class="fab" [icon]="faTwitter"> </fa-icon></a></li>
                                    <li><a href=""><fa-icon class="fab" [icon]="faGooglePlusG"> </fa-icon></a></li>
                                    <li><a href=""><fa-icon class="fab" [icon]="faInstagram"> </fa-icon></a></li>
                                    <li><a href=""><fa-icon class="fab" [icon]="faLinkedinIn"> </fa-icon></a></li>
                            </ul>
                        </div>
                </div>

                <div class="column">
                        <div class="imgBox">
                            <img src="../../assets/img/luke.jpg" alt="">
                        </div>
                        <div class="details">
                            <h3>Member Name <br> <span>CEO and  Founder</span></h3>
                            <ul>
                                    <li><a href=""><fa-icon class="fab" [icon]="faFacebook"> </fa-icon></a></li>
                                    <li><a href=""><fa-icon class="fab" [icon]="faTwitter"> </fa-icon></a></li>
                                    <li><a href=""><fa-icon class="fab" [icon]="faGooglePlusG"> </fa-icon></a></li>
                                    <li><a href=""><fa-icon class="fab" [icon]="faInstagram"> </fa-icon></a></li>
                                    <li><a href=""><fa-icon class="fab" [icon]="faLinkedinIn"> </fa-icon></a></li>
                            </ul>
                        </div>
                </div>
        
            </div>
        </div>
    </section>
</section>