
body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
}

a{
    position: relative;
    padding: 8px 30px;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    border: 2px solid #000;
    transition: .5s;
}
a:hover{
    color: #fff;
}
a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #000;
    z-index: -1;
    transform: scaleX(0);
    transition: transform .5s;
    transform-origin: left;
}
a:hover:before{

    transform: scaleX(1);
    transition: transform .5s;
    transform-origin: right;
}


a:after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: #000;
    z-index: -1;
    transform: scaleX(0);
    transition: transform .5s;
    transform-origin: right;
}
a:hover:after{

    transform: scaleX(1);
    transition: transform .5s;
    transform-origin: left;
}