<section id="navbar">
 
    <nav class="navbar navbar-dark bg-primary p-4">

        <div class="container text-light">
        
          
         <img src="favicon.ico" alt=""> 
          I have lots of card designs. You can import your project freely
        <a href="https://gitlab.com/ismailllozcelik/lots-of-card-samples" class="btn btn-warning btn-outline ">Lots of Card Samples  </a>
         


          
        </div>


      </nav>

</section>

<section id="CardSamples" class="m-5">
<div class="container">
    <cards></cards>
</div>
 
</section>