
body{
    min-width: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}



.card2{
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";

    font-family: sans-serif;
    border-radius: 18px;
    box-shadow: 5px 5px 15px rgba(0,0,0,.9);
    background: #fff;
    text-align: center;
    transition: .5s ease;
    cursor: pointer;
    margin: 25px;
}
.card2:hover
{
    transform: scale(1.2);
    box-shadow: 5px 5px 15px rgba(0,0,0,.6);
}
.card2:nth-child(1) .card-image
{
    grid-area: image;
    background: url(../../img/slider2.jpg);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card2:nth-child(2) .card-image
{
    grid-area: image;
    background: url(../../img/slider5.jpg);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card2:nth-child(3) .card-image
{
    grid-area: image;
    background: url(../../img/slider4.jpg);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card-text
{
    grid-area: text;
    margin: 25px;
}
.card-text .date{

    color: rgb(255,7,110);
    font-size: 13px;
}
.card-text p{
    color: grey;
    font-size: 15px;
    font-weight: 300;
}
.card-text h2{
    margin-top: 0px;
    font-size: 28px;
}
.card2:nth-child(1) .card-stats
{
    grid-area: stats;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: rgb(255,7,110);
}

.card2:nth-child(2) .card-stats
{
    grid-area: stats;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: rgb(255, 128, 0);
}

.card2:nth-child(3) .card-stats
{
    grid-area: stats;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: rgb(0, 255, 64);
}
.card-stats .stat
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    color: #fff;
}
.card-stats .type
{
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
}

.card-stats .value
{
    font-size: 22px;
    font-weight: 500;
}

.card-stats .border
{
    border-left: 1px solid rgb(172,26,87);
    border-right: 1px solid rgb(172,26,87);
}

.card-stats .value sup{
    font-size: 12px;
}