
<section appAddDiv [Parameter]="parameter"></section>

<section id="card59">
    <div class="row2">
        <div class="column">
            <div class="card2">
                <div class="imgBox">
                <img src="https://images.pexels.com/photos/2747600/pexels-photo-2747600.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="" style="width: 150px; height: auto; padding-top: 10px; "  >
                </div>
                <h1>Aleyna Watson</h1>
                <p class="title">
                        CEO & Founder
                </p>
                <p>Oxford University</p>
                
                <a href=""><fa-icon class="icon" [icon]="faInstagram"></fa-icon></a>
                <a href=""><fa-icon class="icon" [icon]="faDribbble"></fa-icon></a>
                <a href=""><fa-icon  class="icon" [icon]="faTwitter"></fa-icon></a>
                <a href=""><fa-icon class="icon" [icon]="faFacebook"></fa-icon></a>
                <p><button>Contact</button></p>
            </div>
        </div>


        <div class="column">
            <div class="card2">
                <div class="imgBox">
                <img src="https://images.pexels.com/photos/2287252/pexels-photo-2287252.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="" style="width: 150px; height: auto; padding-top: 10px; "  >
                </div>
                <h1>Can Watson</h1>
                <p class="title">
                        CEO & Founder
                </p>
                <p>Oxford University</p>
                <a href=""><fa-icon class="icon" [icon]="faInstagram"></fa-icon></a>
                <a href=""><fa-icon class="icon" [icon]="faDribbble"></fa-icon></a>
                <a href=""><fa-icon  class="icon" [icon]="faTwitter"></fa-icon></a>
                <a href=""><fa-icon class="icon" [icon]="faFacebook"></fa-icon></a>
                <p><button>Contact</button></p>
            </div>
        </div>


        <div class="column">
            <div class="card2">
                <div class="imgBox">
                <img src="https://images.pexels.com/photos/2518748/pexels-photo-2518748.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="" style="width: 150px; height: auto; padding-top: 10px; "  >
                </div>
                <h1>Caner Watson</h1>
                <p class="title">
                        CEO & Founder
                </p>
                <p>Oxford University</p>
                <a href=""><fa-icon class="icon" [icon]="faInstagram"></fa-icon></a>
                <a href=""><fa-icon class="icon" [icon]="faDribbble"></fa-icon></a>
                <a href=""><fa-icon  class="icon" [icon]="faTwitter"></fa-icon></a>
                <a href=""><fa-icon class="icon" [icon]="faFacebook"></fa-icon></a>
                <p><button>Contact</button></p>
            </div>
        </div>


        <div class="column">
            <div class="card2">
                <div class="imgBox">
                <img src="https://images.pexels.com/photos/2118052/pexels-photo-2118052.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="" style="width: 150px; height: auto; padding-top: 10px; "  >
                </div>      
                <h1>Ceylin Watson</h1>
                <p class="title">
                        CEO & Founder
                </p>
                <p>Oxford University</p>
                <a href=""><fa-icon class="icon" [icon]="faInstagram"></fa-icon></a>
                <a href=""><fa-icon class="icon" [icon]="faDribbble"></fa-icon></a>
                <a href=""><fa-icon  class="icon" [icon]="faTwitter"></fa-icon></a>
                <a href=""><fa-icon class="icon" [icon]="faFacebook"></fa-icon></a>
                <p><button>Contact</button></p>
            </div>
        </div>



    </div>
    
</section>