
<section appAddDiv [Parameter]="parameter"></section>
<section id="card30">

        <div class="box">
                <div class="imgBox">
                    <img src="../../assets/img/avatar2.png" alt="">
                </div>
                <ul class="social-icon">
                    <li><a href=""><fa-icon class="fab" [icon]="faFacebook"></fa-icon></a></li>
                    <li><a href=""><fa-icon class="fab" [icon]="faTwitter"></fa-icon></a></li>
                    <li><a href=""><fa-icon class="fab" [icon]="faLinkedinIn"></fa-icon></a></li>
                    <li><a href=""><fa-icon class="fab" [icon]="faGooglePlusG"></fa-icon></a></li>
                    <li><a href=""><fa-icon class="fab" [icon]="faInstagram"></fa-icon></a></li>
        
        
                </ul>
                <div class="details">
                    <h2>Someone Famous <br><span>UX/UI Designer</span></h2>
                </div>
            </div>
        
</section>