*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: sans-serif;
}

body
{
    background: #6ab04c;
}

.card2
{
    width: 360px;
    background: #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.top-section
{
    height: 310px;
    overflow: hidden;
    background: #fff;
    position: relative;
}
#image-container
{
    width: 360px;
    height: 240px;
}

.nav2
{
    text-align: center;
}
.nav2 img{
    width: 80px;
    height: 50px;
    border: 1px solid #ddd;
    margin: 8px 2px;
    cursor: pointer;
    transition: .3s;
}
.nav2 img:hover{
 
    border-color: #6ab04c;
}
.price
{
    position: absolute;
    top: 20px;
    right: 20px;
    color: #6ab04c;
    font-size: 30px;
    font-weight:bold;
}
.product-info
{
    padding: 24px;
}
.name
{
    text-transform: uppercase;
    font-size: 24px;
    color: #333;
}
.dis{
    font-size: 16px;
    opacity: .7;
}
.addBtn
{
    display: block;
    background: #6ab04c;
    text-align: center;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
    transition: .3s;
}
.addBtn:hover
{
    background: #333;
}