<section appAddDiv [Parameter]="parameter"></section>
<section id="card37">

     
    <div class="card2">
        <div class="face face1">
            <img src="../../../assets/img/avatar2.png" alt="">
        </div>

        <div class="face face2">
           <div class="content">
            <h2>Someone Famous</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, hic eius ratione iure culpa libero ipsam perferendis atque sint quas.</p>
                
           </div>
        </div>
    </div>

</section>