

#card37{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    font-family: sans-serif;
}

.card2  
{
    position: relative;
    /*width:300px*/
    width: 400px;
    height: 400px;
}

.card2 .face{
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card2 .face.face1
{
    top: 0;
    left: 0;
    /*property sırasını belirledik bir kalıp gibi*/
    transition-property: left, z-index, transform;
    transition-delay: 0s, .5s, .5s;
    transition-duration: .5s, 0s,.5s;
    z-index: 2;
    transform: translate(-10px,-10px);
}
.card2:hover .face.face1
{
    transition-property: transform, z-index,left;
    transition-delay: 0s, .5s,.5s;
    transition-duration: .5s,0s,.5s;
    transform: translate(260px,-10px);
    z-index: 1;
    left: -160px;
}

.card2 .face.face2
{
    background: #111;
    top: 0;
    left: 0;
    /*property sırasını belirledik bir kalıp gibi*/
    transition-property: left, z-index, transform;
    transition-delay: 0s, .5s, .5s;
    transition-duration: .5s, 0s,.5s;
    z-index: 1;
   
}
.card2:hover .face.face2
{
    transition-property: transform, z-index,left;
    transition-delay: 0s, .5s,.5s;
    transition-duration: .5s,0s,.5s;
    /*sola kaydırıyor*/
    transform: translateX(-160px);
    z-index: 2;
    left: 250px;
}
.card2 .face.face1 img{
    max-width: 100%;
}


.card2 .face.face2 .content
{
    padding: 20px;
    box-sizing: border-box;
}
.card2 .face.face2 .content h2
{
    margin: 0;
    padding: 0;
    color: #fff;
}
.card2 .face.face2 .content  p
{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
}