<section appAddDiv [Parameter]="parameter"></section>
<section id="card25">

    
   
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card text-center">
                            <div class="content">
                                    <div class="icon">
                                            <fa-icon  [icon]="faQuoteLeft"></fa-icon>
                                    </div>
                                       
                                <div class="text">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto cumque assumenda dolore nihil voluptates?</p>

                                </div>
                            </div>
                            <div class="author">
                                <div class="image">
                                    <img src="../../assets/img/dan.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="details">
                                    <h2>Someone Famous <br> <span>Website Designer</span></h2>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-4">
                        <div class="card text-center">
                            <div class="content">
                                <div class="icon">
                                        <fa-icon  [icon]="faQuoteLeft"></fa-icon>
                                </div>
                                   
                                
                                <div class="text">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto cumque assumenda dolore nihil voluptates?</p>

                                </div>
                            </div>
                            <div class="author">
                                <div class="image">
                                    <img src="../../assets/img/luke.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="details">
                                    <h2>Someone Famous <br> <span>Website Designer</span></h2>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-4">
                        <div class="card text-center">
                            <div class="content">
                                    <div class="icon">
                                            <fa-icon  [icon]="faQuoteLeft"></fa-icon>
                                    </div>
                                       
                                <div class="text">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto cumque assumenda dolore nihil voluptates?</p>

                                </div>
                            </div>
                            <div class="author">
                                <div class="image">
                                    <img src="../../assets/img/emme.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="details">
                                    <h2>Someone Famous <br> <span>Website Designer</span></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



 