
<section appAddDiv [Parameter]="parameter"></section>
<section id="card34">

    
    <div class="cardBox">
        <div class="card2">
            <div class="card-front">
                <div class="content">
                    <img src="../../assets/img/fenerbahce.png" alt="">
                    <h3>Legend Team</h3>
                </div>
            </div>
            <div class="card-back">
                <div class="content">
                    <div class="logo">
                        <img src="../../assets/img/fenerbahce.png" alt="">
                        <h2>FENERBAHÇE</h2>
                    </div>
                    <ul>
                        <li>
                            
                            <span><fa-icon [icon]="faPhoneAlt"></fa-icon></span>
                            <span>0216 216 16 16</span>
                        </li>
                        <li>
                            <span><fa-icon [icon]="faEnvelope"></fa-icon></span>
                            <span>aykutkocaman@gmail.com</span>
                        </li>
                        <li>
                            <span><fa-icon [icon]="faMapMarker"></fa-icon></span>
                            <span>Samandıra, Turkey</span>
                        </li>
                    </ul>
                </div>

                
            </div>
        </div>
    </div>
</section>