<section appAddDiv [Parameter]="parameter"></section>
<section id="card51">

      
    <div class="container2">
        <div class="box">
            <div class="imgBox">
                <img src="../../../assets/img/slider1.jpg" alt="">
            </div>
            <div class="layer layer1"></div>
            <div class="layer layer2"></div>
            <div class="content">
                <div>

               
                <h2>Post Title</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae fugit beatae illo, assumenda error aspernatur.
                </p>
            </div>
            </div>
        </div>


        <div class="box">
            <div class="imgBox">
                <img src="../../../assets/img/slider5.jpg" alt="">
            </div>
            <div class="layer layer1"></div>
            <div class="layer layer2"></div>
            <div class="content">
                <div>

              
                <h2>Post Title</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae fugit beatae illo, assumenda error aspernatur.
                </p>
            </div>
            </div>
        </div>


        <div class="box">
            <div class="imgBox">
                <img src="../../../assets/img/slider4.jpg" alt="">
            </div>
            <div class="layer layer1"></div>
            <div class="layer layer2"></div>
            <div class="content">
                <div>
                <h2>Post Title</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae fugit beatae illo, assumenda error aspernatur.
                </p>
            </div>
            </div>
        </div>
    </div>

</section>