
body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #383838;
    font-family: sans-serif;
}

.card2{
    position: relative;
    background: #fff;
    width: 400px;
    /* widows: 400px; */
    height: 500px;
    margin: 0 auto;
}

.card2 .content
{
    width: 400px;
    padding: 30px;
    box-sizing: border-box;
}
.card2 .content a
{
    display: inline-block;
    margin: 10px 0 0;
    padding: 10px 20px;
    text-decoration: none;
    border: 2px solid #262626;
    color: #262626;
    font-weight: 600;
}
.card2 .sliderText
{
    position: relative;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}

.card2 .sliderText h3
{
    color: #fff;
    font-size: 3em;
}

.swiper-slide{

    /*card2 width:400px olduğu için card content width400px*/
    width: 400px;
}

.swiper-slide:nth-child(1) .sliderText{
background: #2196f3;

}
.swiper-slide:nth-child(2) .sliderText{
    background: #e91e63;
    
}
.swiper-slide:nth-child(3) .sliderText{
        background: #c3d41a;
        
 }
.swiper-slide:nth-child(4) .sliderText{
            background: #ff9800;
            
}
.swiper-slide:nth-child(5) .sliderText{
                background: #c33ada;
                
}
.swiper-slide:nth-child(6) .sliderText{
 background: #f00;
                    
}