
 
 <section appAddDiv [Parameter]="parameter"></section> 

   <section id="card11">


    <div class="container2">
        <div class="card2">
            <div class="img-box">
                <img src="../../assets/img/avatar2.png" alt="">
            </div>
            <div class="content">
                <h2>Someone Famous <br> <span>UX/UI Designer</span> </h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, illum ipsa doloremque facilis
                    quisquam</p>

                <ul>
                        
                    <li><a href="#"><fa-icon [icon]="faFacebook"></fa-icon></a></li>
                    <li><a href="#"><fa-icon [icon]="faTwitter"></fa-icon></a></li>
                    <li><a href="#"><fa-icon [icon]="faLinkedin"></fa-icon></a></li>
                </ul>
            </div>
        </div>

        <div class="card2">
            <div class="img-box">
                <img src="../../assets/img/avatar2.png" alt="">
            </div>
            <div class="content">
                <h2>Someone Famous <br> <span>UX/UI Designer</span> </h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, illum ipsa doloremque facilis
                    quisquam</p>

                <ul>
                        <li><a href="#"><fa-icon [icon]="faFacebook"></fa-icon></a></li>
                        <li><a href="#"><fa-icon [icon]="faTwitter"></fa-icon></a></li>
                        <li><a href="#"><fa-icon [icon]="faLinkedin"></fa-icon></a></li>
                </ul>
            </div>
        </div>


        <div class="card2">
            <div class="img-box">
                <img src="../../assets/img/avatar2.png" alt="">
            </div>
            <div class="content">
                <h2>Someone Famous <br> <span>UX/UI Designer</span> </h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, illum ipsa doloremque facilis
                    quisquam</p>

                <ul>
                        <li><a href="#"><fa-icon [icon]="faFacebook"></fa-icon></a></li>
                        <li><a href="#"><fa-icon [icon]="faTwitter"></fa-icon></a></li>
                        <li><a href="#"><fa-icon [icon]="faLinkedin"></fa-icon></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>