@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

#card11{

    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif !important;

}
.container2{

    position: relative;
    width: 1000px;
    margin: 150px auto 0;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 440px;
    grid-gap: 40px;
}

.container2 .card2{

    position: relative;
    background: #000;
    overflow: hidden;
    border-radius: 10px;
    transition: .5s;
}
.container2 .card2:hover{

    transform: translateY(-20px);
    box-shadow: 0 20px 20px rgba(0,0,0,.2);

}
.container2 .card2 .img-box{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .5s;
    
}
.container2 .card2 .img-box img{

    width: 100%;
    height: 100%;
}

.container2 .card2:hover .img-box{

    opacity: .5;
}
.container2 .card2 .content{

    position: absolute;
    width: 100%;
    height: 60%;
    bottom: -100%;
    padding: 20px;
    padding-top: 60px;
    box-sizing: border-box;
    text-align: center;
    transition: .5s;
}
.container2 .card2:hover .content{

    bottom: 0;
}
.container2 .card2:nth-child(1) .content{

    background: linear-gradient(0deg,#c21833, transparent);
}
.container2 .card2:nth-child(2) .content{

    background: linear-gradient(0deg,#587D38, transparent);
 }
.container2 .card2:nth-child(3) .content{

    background: linear-gradient(0deg,#454545, transparent);
}
.container2 .card2 .content h2{

    margin: 0 0 10px;
    padding: 0;
    color: #fff;
    font-size: 20px;
}
.container2 .card2 .content h2 span{

   
    color: #ffeb3b;
    font-size: 16px;
}
.container2 .card2 .content p{

    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 16px;
}
.container2 .card2 .content ul{

    display: flex;
    margin: 20px 0 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}

.container2 .card2 .content ul li{

    list-style: none;
}

.container2 .card2 .content ul li a{

     color: #fff;
     padding: 0 10px;
     font-size: 18px;
}