
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.card2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    height: 400px;
    transform-style: preserve-3d;
    perspective: 600px;
    transition: .5s;
}

.card2 .front{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    backface-visibility: hidden;
    transform: rotateX(0deg);
    transition: .5s;
}

.card2 .front img{
    width: 100%;
    height: 100%;
}
.card2:hover .front{
    transform: rotateX(-180deg);
}

.card2 .back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    backface-visibility: hidden;
    transform: rotateX(180deg);
    transition: .5s;
}


.card2 .back:before{
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.1);

}
.card2:hover .back{
    transform: rotateX(0deg);
}


.card2 .back .details{

    position: absolute;
    top:50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}
.card2 .back .details h2{
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: #fff;

}
.card2 .back .details h2 span{
    color: #a7a7a7;
    font-size: 16px;
}
.social-icons{
    padding: 10px 0;
}

.social-icons a{
    display: inline-block;
    width: 36px;
    height: 36px;
    text-align: center;
    background: #262626;
    color: #fff;
    text-decoration: none;
    border-radius: 50%;
    transition: .5s;
}


.social-icons a .fab{

    line-height: 36px;
}
.social-icons a:hover{
    background: #e91e63;
}