<section appAddDiv [Parameter]="parameter"></section>

<section id="card64">
    <div class="card2">
        <div class="card-header2">
            <img src="https://images.pexels.com/photos/2613260/pexels-photo-2613260.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
            <div class="cover"></div>
            <div class="menu">

                <ul>
                    <li>
                            <fa-icon [icon]="faFacebookF"></fa-icon>
                    </li>
                    <li>
                            <fa-icon [icon]="faTwitter"></fa-icon>
                    </li>
                    <li>
                            <fa-icon [icon]="faInstagram"></fa-icon>
                    </li>
                </ul>

                <span><fa-icon [icon]="faEllipsisV"></fa-icon></span>
            </div>


            <div class="name">
                <span class="last">Dias</span>
                <span class="first">Buenas</span>
            </div>
        </div>



        <div class="container2">
            <div class="left-section">
                <h3>About</h3>
                <p>Lorem ipsum dolor sit amet consectetur.</p>
                <a href="" class="followBtn">Follow Me</a>
            </div>
    
            <div class="right-section">
                <div class="item">
                    <span class="num">
                        96
                    </span>
                    <span class="word">
                        Videos
                    </span>
                </div>


                <div class="item">
                    <span class="num">
                        2.3K
                    </span>
                    <span class="word">
                        Subscribers
                    </span>
                </div>


                <div class="item">
                    <span class="num">
                        130K
                    </span>
                    <span class="word">
                        Views
                    </span>
                </div>
            </div>
        </div>
    </div>


   
</section>