*
{
    margin: 0;
    padding: 0;
    font-family: "Century Gothic";
    list-style: none;
    text-decoration: none !important;
}

#card64{
   /* background: #9b59b6;*/
   /* background: #e67e22; */
   position: relative;
}

.card2
{
    width: 400px;
    position: relative;
    top: 50%;
    margin:0 auto;
    /* left: 30%; */
    background: #f1f1f1;
    /* transform: translate(-50%,-50%); */
    overflow: hidden;
    box-shadow: 0 0 20px #000000b3;
}

.card-header2
{
    height: 300px;
    overflow: hidden;
    position: relative;
}

.card-header2 img{
    height: 100%;
    width: 100%;
}

.card-header2 .cover
{
    /*sonuna b3 koyunca blur veriyor*/
    background: #e67e22b3;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.card-header2 .menu
{
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    color: #fff;
    opacity: .7;
    cursor: pointer;
    
}
.card-header2 .menu span
{
    font-size: 32px;
}
.card-header2 .menu ul
{
    background: #333333b3;
    padding: 6px 0;
    margin: 0 14px;
   
    display: none;
}
.card-header2 .menu:hover > ul
{
    display:block ;
}
.card-header2 .menu ul li
{
    float: left;
    width: 30px;
    text-align: center;
}
.card-header2 .menu ul li:hover
{
    transition-delay: .2s;
    color:#f39c12;

}
.card-header2 .name
{
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #fff;
    opacity: .7;
}

.card-header2 .last
{
    display: block;
    font-size: 36px;
}

.card-header2 .first
{
    display: block;
    font-size: 48px;
}

.container2
{
    padding: 20px;
    overflow: hidden;
}

.left-section
{
    width: 260px;
    overflow: hidden;
    float: left;
}

.left-section h3
{
    color:#e67e22;
}
.left-section p{
    margin: 30px 0;
}

.left-section .followBtn
{
    width: 100%;
    background: #e67e22;
    border-radius: 12px;
    color: #fff;
    text-align: center;
    display: block;
    padding: 8px 0;
    transition: .3s all;
}

.left-section .followBtn:hover
{
    background: #f39c12;
}
.right-section
{
    overflow: hidden;
    float:right;
    text-align: right;
}
.item
{
    margin: 6px 0;
}
.num
{
    display: block;
    font-size: 30px;
}
.word
{
    font-size: 16px;
}