<section appAddDiv [Parameter]="parameter"></section>

<section id="card60">
    <!-- <section class="PriceCard"> -->
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="price-table">
                            <div class="price-header">
                                <h4>Basic</h4>
                                <h2>$15<span>/month</span></h2>
                            </div>
                            <div class="price-content">
                                <ul>
                                   <li>1 Gb Ram</li>
                                    <li>30 Gb Storage</li>
                                    <li>15 Email Accounts</li>
                                    <li>Lifetime Supports</li>
                                </ul>
                            </div>
                            <div class="price-button">
                                <a href="">Buy Plan</a>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="price-table">
                            <div class="price-header">
                                <h4>Advance</h4>
                                <h2>$25<span>/month</span></h2>
                            </div>
                            <div class="price-content">
                                <ul>
                                   <li>2 Gb Ram</li>
                                    <li>50 Gb Storage</li>
                                    <li>25 Email Accounts</li>
                                    <li>Lifetime Supports</li>
                                </ul>
                            </div>
                            <div class="price-button">
                                <a href="">Buy Plan</a>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="price-table">
                            <div class="price-header">
                                <h4>Premium</h4>
                                <h2>$50<span>/month</span></h2>
                            </div>
                            <div class="price-content">
                                <ul>
                                   <li>5 Gb Ram</li>
                                    <li>100 Gb Storage</li>
                                    <li>50 Email Accounts</li>
                                    <li>Lifetime Supports</li>
                                </ul>
                            </div>
                            <div class="price-button">
                                <a href="">Buy Plan</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- </section> -->
</section>