<section appAddDiv [Parameter]="parameter"></section>

<section id="card62">
  
    <div class="profile-card">
        <div class="header">
            <img src="https://images.pexels.com/photos/2156416/pexels-photo-2156416.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
        </div>
        
        <div class="content">
            <h2>DarkCode</h2>
            <h3>Web Developer - Web Designer</h3>
            <p><strong>Lorem ipsum dolor sit.</strong>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <ul>
                <li>
                    <a href="">
                        <fa-icon [icon]="faFacebookF"></fa-icon>
                    </a>
                </li>
                <li>
                    <a href="">
                        <fa-icon [icon]="faTwitter"></fa-icon>
                    </a>
                </li>
                <li>
                    <a href="">
                        <fa-icon [icon]="faGooglePlusG"></fa-icon>
                    </a>
                </li>
                <li>
                    <a href="">
                        <fa-icon [icon]="faYoutube"></fa-icon>
                    </a>
                </li>
                 
                
            </ul>
        </div>
        <div class="footer">
            <p>Coded By DarkCode .</p>
        </div>
    </div>
</section>
