
#card62{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /* background: #f1f1f1; */
    position: relative;
}

.profile-card
{
    width: 400px;
    overflow: hidden;
    position: relative;
    top: 50%;
    left: 30%;
    /* transform: translate(-50%,-50%); */
    background: #fff;
    color: #314652;
    box-shadow: 0 5px 10px rgba(0,0,0,.5);
}
.header
{
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
}
.header::before
{
    content: '';
    position: absolute;
    border-top: 30px solid transparent;
    border-left: 400px solid white;
    bottom: 0;
}
.header img{
    width: 100%;
    height: 199px;
}
.content
{
    padding: 10px;
    overflow: hidden;
    text-align: center;
}
.content h2
{
    margin: 0 5px 0 0;
}

.content ul
{
    margin: 0;
    padding: 0;
}
.content ul li
{
    list-style: none;
    display: inline-block;
}
.content ul li a
{
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    background: #314652;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
    transition: .3s;
    margin: 0 2px;
}
.content ul li a:hover
{
    transform: scale(1.2);
}
.footer
{
    width: 100%;
    height: 80px;
    background: #314652;
    position: relative;
    color: #fff;
}
.footer::before
{
    content: '';
    position: absolute;
    border-bottom: 30px solid transparent;
    border-right: 400px solid white;
    top: -1px;
}

.footer p
{
    margin: 0;
    padding: 30px;
    display: block;
}